h3 Roles and Privilages
.panel-dark#users
	.panel-head
		.row
			.col-sm-6.col-xs-3
				select.panel-select(ng-options="role as role.role for role in roles track by role.role" ng-model="selectedRole")
			.col-sm-6.col-xs-9.text-right
				button.btn.btn-danger(ng-click="deleteRole()" ng-disabled="selectedRole.role === 'basic' || selectedRole.role === 'admin'") Delete
				button.btn.btn-primary(ng-click="createRole()") New Role
				button.btn.btn-success(ng-click="updateRole()" ng-disabled="selectedRole.role === 'admin'") Save
	.panel-body
		.form-group(ng-repeat="(permissionName, permissionValue) in selectedRole.permissions")
			input.checkbox(id="{{permissionName}}" type="checkbox" ng-model="selectedRole.permissions[permissionName]" ng-checked="permissionValue")
			label(for="{{permissionName}}")| {{permissionName | camelToHuman}}

h3 Users
	.form-group
		input(type="text" placeholder="filter users" ng-model="userFilter").form-control
accordion(close-others="true")
	accordion-group(ng-repeat="user in users | filter:filterUsers" is-open="status.open").panel-primary.panel
		accordion-heading.panel-heading(ng-click="status.open=!status.open")
			span {{user.name}} 
			i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}").panel-chevron
			span.pull-right| {{user.role}} 
		.panel-body.equal
			.row
				.col-md-6
					.form-group
						label Username
						input(type="text" ng-model="user.name").form-control
				.col-md-6
					.form-group
						label Email
						input(type="text" ng-model="user.email").form-control
			.row
				.col-sm-3.col-xs-6
					.form-group
						p.h5 Allow User:
						select.panel-select(ng-model="user.role")
							option(ng-repeat="role in roles" ng-selected="role.role == user.role") {{role.role}}
				.col-sm-4.col-xs-6
					.form-group
						p.h5 Account Enabled
						label.mb-toggle-switch
							input(type="checkbox" ng-model="user.enabled" ng-checked="user.enabled")
							span.mb-switch
				.col-sm-5.col-xs-12.text-right
					button.btn.btn-danger(ng-click="deleteUser(user, $index)" ng-disabled="user.role === 'admin'") Delete
					button.btn.btn-success(ng-click="updateUser(user)") Update