.meanbase-front.loggedIn
  // margin-top 50px

.template-screenshot
  position absolute
  max-width 90%
  max-height 80%
  top 50%
  transform translate(-50%, -50%)
  left 50%
  z-index 11

.template-screenshot-backdrop
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  width 100%
  background-color white
  z-index 10

.meanbase-front
  #mb-headbar
    font-size 16px
    a
      cursor pointer
    .btn
      margin 10px 4px
      // padding 8px 13px
      padding 5px 10px
      font-size 0.9em
      outline none
  .mb-loading-screen
    padding-top 1em
    color #2C3E50

  [contenteditable="true"]
    outline none
    // &:hover
    //   outline 2px solid #2ECC71
    //   outline-offset 1px
    // &:focus
    //   outline none
  .navbar
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform none
    font-weight normal
  .navbar-fixed-top
    padding 0
    margin 0
    .navbar-brand
      padding 15px 10px
      font-size 16px
  .navbar-nav
    margin 0
    padding 0
.scrollable-body
  max-height 300px
  overflow auto

.inEditMode #mb-headbar .navbar-nav
  float none
  display inline-block

// @media (min-width: 768px) and (max-width: 991px) {
//     .navbar-collapse.collapse {
//         display: none !important;
//     }
//     .navbar-collapse.collapse.in {
//         display: block !important;
//     }
//     .navbar-header .collapse, .navbar-toggle {
//         display:block !important;
//     }
//     .navbar-header {
//         float:none;
//     }
// }
