.meanbase-front.loggedIn
  // margin-top 50px

.template-screenshot
  position absolute
  max-width 90%
  max-height 80%
  top 50%
  transform translate(-50%, -50%)
  left 50%
  z-index 11

.template-screenshot-backdrop
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  width 100%
  background-color white
  z-index 10

.meanbase-front
  #mb-headbar
    font-size 16px
    a
      cursor pointer
    .btn
      margin 10px 4px
      // padding 8px 13px
      padding 5px 10px
      font-size 0.9em
      outline none
    .mb-dropdown
      display inline-block
      vertical-align: top
    #mb-headbar-child
      padding 0 1em
      box-sizing: border-box
  .mb-loading-screen
    padding-top 1em
    color #2C3E50

  [contenteditable="true"]
    outline none
  .navbar
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    text-transform none
    font-weight normal
  .navbar-fixed-top
    padding 0
    margin 0
    .navbar-brand
      padding 10px 10px
      font-size 16px
  .navbar-nav
    margin 0
    padding 0
.scrollable-body
  max-height 300px
  overflow auto

.inEditMode #mb-headbar .navbar-nav
  float none
  display inline-block




#mb-headbar
  position relative
  z-index: 11

  .mb-right
    float right
  #mb-headbar-child
    background-color: #34495E
    color #ECF0F1
    top 0
    width 100%
    position: fixed
    z-index 3

    .mb-fill
      padding 0 1em

    .less-padding
      padding 1em 0em
  .mb-navbar-right
    float right
  ul
    padding-left: 0
    margin 0

  ul.root-ul
    display inline-block
  ul.root-ul > li
    display inline-block
    list-style: none
    padding 1em
  a
    text-decoration: none
    color #ECF0F1
    display block
    i
      color #ECF0F1
  .dropdown-menu
    a
      color #34495E
      i
        color #34495E
