.modal-header
  button.close(type='button' ng-click="cancel()")
    span(aria-hidden='true') ×
    span.sr-only Close
  h4.modal-title Page Settings
.modal-body
  .form-group
    label(for='page-template') Page template:
    select#page-template.form-control(ng-model="page.template" ng-options="option for option in templateOptions")
  .form-group(validate="{{errorMessages.URI}}").has-feedback
    label Page Link URL
    .input-group
      span.input-group-addon /
      input.form-control(type='text' ng-model="page.url"  ng-pattern="validators.isURI")
      span.glyphicon.glyphicon-ok.form-control-feedback
  .form-group(validate="{{errorMessages.isTitle}}").has-feedback
    label Search Engine Title
    input.form-control(type='text' ng-model="page.tabTitle" ng-pattern="validators.isTitle")
    span.glyphicon.glyphicon-ok.form-control-feedback
  .form-group
    label Search Engine Description
    textarea.form-control(rows="5" ng-model="page.description")
.modal-footer
  .col-sm-9
    p.h6.text-left (The headbar save and discard buttons will store changes)
  .col-sm-3
    button.btn.btn-default(type='button' ng-click="cancel()") Close
