.gallery-container {
	position: relative;
}

.gallery-find-images {
	position: absolute;
	top: 0;
	right: 0;
}

.gallery-find-images-button {
	margin-bottom: 1em;
}

.gallery-config {
	margin: 0 0 1em;
	padding: 1em;
	background-color: #ECF0F1;
	border-radius: 4px;
}

.carousel {
	margin-top: 1em;
}
