<div class="gallery-container">
  <carousel interval="interval">
    <slide ng-repeat="image in images" active="image.active">
      <img ng-src="{{image.modifiedurl}}" style="margin:auto;" fallback-src="http://placehold.it/900x300">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{image.alt}}</p>
      </div>
    </slide>
  </carousel>
  <div ng-if="$root.editMode" class="gallery-config">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span>Gallery Name</span>
        </div>
        <input type="text" class="form-control" placeholder="Gallery Slug" ng-model="extension.config.slug"> 
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span>Interval</span>
        </div>
        <input type="text" class="form-control" placeholder="3000" ng-model="extension.config.interval">
      </div>
    </div>
    <div find-images-for="{{extension.config.slug}}" multiple="true" class="gallery-find-images"></div>
  </div>
</div>