<div ng-if="!editMode">
  <carousel interval="interval">
    <slide ng-repeat="image in images" active="image.active">
      <img ng-src="{{image.modifiedurl}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{$index}}</h4>
        <p>{{image.alt}}</p>
      </div>
    </slide>
  </carousel>
</div>

<div ng-if="editMode" class="text-center gallery-editmode-container">
  <h3>"{{gallerySlug}}" gallery</h3>
  <div find-images="gallerySlug" found-callback="refreshImageList"></div>
</div>