div(ng-sortable="sortableExtensions" ng-class="{'mb-drag-to-room': editMode && page.extensions[areaName].length === 0}")
  div(ng-repeat="extension in page.extensions[areaName]" dynamic-html="extension.text" ng-class="{'mb-draggable': editMode}")
    //- div.universal-extension-edit-buttons(ng-if="editMode")
    div.universal-extension-edit-buttons(ng-show="editMode")
      .form-group
        .input-group
          .input-group-addon Name
          input.form-control(type="text" placeholder="What name would you like to remember these settings by?" ng-model="extension.contentName" ng-pattern="validators.isTitle")
      button.btn.btn-danger.remove-extension-button(ng-click='removeThisExtension(extension)')
        i.fa.fa-trash.fa-lg|  
        |  Delete
div(extensions-selector="{{areaName}}")
