.medium-toolbar-arrow-under:after {
  top: 80px;
}

.medium-editor-toolbar li button {
  padding: 12px;
}

.medium-editor-toolbar-actions button.medium-editor-action {
  min-width: 40px;
  height: 40px;
}

.medium-editor-toolbar {
  max-width: 330px;
  border-top: 5px solid black;
}

.medium-editor-toolbar-active {
  visibility: visible;
}

.medium-editor-placeholder:after {
  position: static;
  color: black;
}

.medium-editor-insert-plugin:before {
  clear: none;
  display: none;
  content: "";
}

.medium-editor-toolbar li button {
  border-right: none;
}

.medium-editor-insert-buttons .medium-editor-insert-buttons-addons li {
  border-radius: 10em;
  // padding: 0.4em 0;
}
