.container(ng-controller="ArticleCtrl as controller")
	include ../../components/site-menu
	.row
		.col-md-8
			h1#page-title(meanbase-editable ng-bind-html="page.title")
			p.lead
				| by 
				a(href='#') {{page.author}}
			hr
			p
				span.glyphicon.glyphicon-time 
				| {{page.created}} 
			hr
			div(extensions-area="extensions-1")
			hr
			div(meanbase-editable ng-bind-html="page.content['content-1']")
			hr
			.well
				h4 Leave a Comment:
				.form-group
					.input-group
						.input-group-addon Name
						input(type="text" ng-model="comment.author" placeholder="nickname").form-control
				.form-group
					.input-group
						.input-group-addon Email
						input(type="email" ng-model="comment.email" placeholder="email").form-control
				.form-group
					label Message
					textarea(ng-model="comment.content" placeholder="Message" rows="3").form-control
				button.btn.btn-primary(ng-click="submitComment()") Comment
				.help-block(ng-show="sucessfulSend") Comment sent!
			hr
			h3 Comments
			.well.media(ng-repeat="comment in comments")
				a.pull-left(href='#')
					img.media-object(src='http://placehold.it/64x64', alt='')
				.media-body
					h4.media-heading {{comment.author}}
					small {{comment.date}} 
					p {{comment.content}}
		.col-md-4
			.well
				div(extensions-area="sidebar-1")
				//- h4 Blog Search
				//- .input-group
				//- 	input.form-control(type='text')
				//- 	span.input-group-btn
				//- 	button.btn.btn-default(type='button')
				//- 		span.glyphicon.glyphicon-search
			.well
				h4 Blog Categories
				div(extensions-area="sidebar-2")
			.row
				.col-lg-6
					ul.list-unstyled
						li
						a(href='#') Category Name
						li
						a(href='#') Category Name
						li
						a(href='#') Category Name
						li
						a(href='#') Category Name
				.col-lg-6
					ul.list-unstyled
						li
						a(href='#') Category Name
						li
						a(href='#') Category Name
						li
						a(href='#') Category Name
						li
						a(href='#') Category Name
			.well
				div(extensions-area="sidebar-3")
				//- h4 Side Widget Well
				//- p
				//- 	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
	hr
	footer
		div(extensions-area="footer-1")
		.row
			.col-lg-12
			p Copyright © Your Website 2014


