#meanbase-cms
  .all-visible
    background-color #34495E
    color #ECF0F1
    i
      color #ECF0F1
	.margin-top
		margin-top 1em
	.form-group
    label
      display block
    label.radio-inline
      display inline
