#meanbase-cms
  .all-visible
    background-color white
    color #34495E
    i
      color #34495E
	.margin-top
		margin-top 1em
	.form-group
    label
      display block
    label.radio-inline
      display inline
