section#moderate-comments.mdl-layout__tab-panel(ng-class="{'is-active': tabs[0].active}" mdl)
  .page-content
    .mdl-tabs__panel.is-active
      .mdl-grid
        .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': commentDate}")
            input#commentDate.mdl-textfield__input(type='text' date-picker ng-model="commentDate" mdl)
            label.mdl-textfield__label(for='commentDate') Comment Date
        .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
          .form-group
            label When 
            select(ng-model="dateDirection" ng-options="state as state for state in ['before', 'during', 'after']").form-control
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
          .form-group
              label Approval
              select(ng-model="approval" ng-options="approvalState.value as approvalState.label for approvalState in approvalStates").form-control
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
          .form-group
              label Page
              select(ng-options="page.value as page.label for page in pagesWithComments" ng-model="filterByThisPage").form-control
      //- .form-group
      //-   button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(ng-click="approveAllVisible()") Approve All Visibile
      //-   button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent(ng-click="unapproveAllVisible()") Unapprove All Visibile
      //-   button.mdl-button.mdl-js-button(ng-click="deleteAllVisible()") Delete All Visibile
        
      .mdl-grid.all-visible
        .mdl-cell.mdl-cell--8-col.mdl-cell--3-col-phone.mdl-cell--6-col-tablet
          .form-group.checkbox
            label
              input(type="checkbox" ng-model="sortDirection") 
              | Show oldest comments first?
        .mdl-cell.mdl-cell--4-col.mdl-cell--1-col-phone.mdl-cell--2-col-tablet
          button#all-visible.mdl-button.mdl-js-button.mdl-button--icon.float-right.margin-right-1
            i.material-icons more_vert
          ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='all-visible')
            li.mdl-menu__item(ng-click="approveAllVisible()") Approve All Visibile
            li.mdl-menu__item(ng-click="unapproveAllVisible()") Unapprove All Visibile
            li.mdl-menu__item(ng-click="deleteAllVisible()") Delete All Visibile
      .mdl-grid
        .mdl-cell.mdl-cell--12-col
          ul.mdl-list
            li.mdl-list__item.mdl-list__item--three-line(ng-repeat="comment in ($parent.filteredComments = (comments | filter:$root.searchText | filter: {approved: approval, url: filterByThisPage})) | orderBy:'date':sortDirection | dateRange: 'date':commentDate:1:dateDirection" is-open="status.open" ng-class="{'panel-success': comment.approved, 'panel-warning': !comment.approved}" mdl)
              .mdl-list__item-primary-content
                i.material-icons.mdl-list__item-avatar person
                span {{comment.url}}
                span.mdl-list__item-text-body {{comment.content}}
              .mdl-list__item-secondary-content
                mdl-switch(ng-model='comment.approved' ng-click="toggleApproved(comment)")
              .mdl-list__item-secondary-content
                button(id="{{comment._id}}").mdl-button.mdl-js-button.mdl-button--icon
                  i.material-icons more_vert
                ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='{{comment._id}}')
                  li.mdl-menu__item.comment-settings-button(ng-click="c.toggleModal('isInfoOpen', 'settings', comment)") Info
                  li.mdl-menu__item.confirm-delete-button(ng-click="c.toggleModal('isDeleteOpen', 'commentToDelete', comment)") Delete Comment
      
      .mdl-grid
        .mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet
          .checkbox-inline
            label
              input(type="checkbox" ng-model="autoAccept" ng-change="toggleAutoAccept(autoAccept)")
              | Automatically accept all new comments
        .mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet
          .checkbox-inline
            label
              input(type="checkbox" ng-model="disableComments" ng-change="toggleDisableComments(disableComments)")
              | Disable Comments
section#banned-commentors.mdl-layout__tab-panel(ng-class="{'is-active': tabs[1].active}" mdl)
  .page-content
    .mdl-grid
      .mdl-cell.mdl-cell--6-col.mdl-cell--12-col-tablet
        .mdl-tabs__panel
          h3 Banned Members
          ul.mdl-list
            li.mdl-list__item.mdl-list__item--two-line(ng-repeat="member in bannedMembers" mdl)
              span.mdl-list__item-primary-content
                span
                  span {{member.email}}
                  span.mdl-list__item-sub-title {{member.role}}
              .mdl-list__item-secondary-content
                mdl-switch(ng-model='member.enabled' ng-click="unban(member)")
              .mdl-list__item-secondary-content
                button(id="{{member._id}}").mdl-button.mdl-js-button.mdl-button--icon
                  i.material-icons more_vert
                ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='{{member._id}}')
                  li.mdl-menu__item.member-settings-button(ng-click="u.toggleModal('isInfoOpen', 'settings', member)") Settings
                  li.mdl-menu__item.confirm-delete-button(ng-click="u.toggleModal('isDeleteOpen', 'memberToDelete', member)") Permit User

dialog.mdl-dialog(dialog-open="isDeleteOpen")
  h4.mdl-dialog__title Delete {{commentToDelete.url}}?
  .mdl-dialog__content
    p Are you sure you want to delete {{commentToDelete.url}}?
  .mdl-dialog__actions
    button.mdl-button(type='button' ng-click="deleteComment(commentToDelete)") Yes
    button.mdl-button(type='button' ng-click="c.toggleModal('isDeleteOpen', 'commentToDelete')") No        
    //- accordion(close-others="true")
    //-   accordion-group(ng-repeat="member in bannedMembers").panel
    //-       accordion-heading.panel-heading(ng-click="status.open=!status.open")
    //-           i.fa(ng-class="{'fa-check': comment.approved, 'fa-frown-o': !comment.approved}").comment-approved-icon
    //-           span.commment-author #[strong {{member.email}} ]
    //-           i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}").panel-chevron 
    //-           span.pull-right| {{member.ip}} 
    //-       .panel-body.equal
    //-           .row
    //-               .col-xs-6
    //-                   .h4 email
    //-                   p {{member.email}}
    //-               .col-xs-6
    //-                   .h4 ip
    //-                   p {{member.ip}}
    //-           .row
    //-               .col-sm-12.text-right
    //-                   button.btn.btn-warning(ng-click="unban(member)") Unban commentor
              
      //- accordion(close-others="true")
      //-     accordion-group(ng-repeat="comment in ($parent.filteredComments = (comments | filter:commentFilter | filter: {approved: approval, url: filterByThisPage})) | orderBy:'date':sortDirection | dateRange: 'date':commentDate:1:dateDirection" is-open="status.open" ng-class="{'panel-success': comment.approved, 'panel-warning': !comment.approved}").panel
      //-         accordion-heading.panel-heading(ng-click="status.open=!status.open")
      //-             i.fa(ng-class="{'fa-check': comment.approved, 'fa-frown-o': !comment.approved}").comment-approved-icon
      //-             span.commment-author #[strong {{comment.author}} ]: {{comment.date | relativeDate}}
      //-             i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}").panel-chevron 
      //-             span.pull-right| {{comment.url | removeSlash}} 
      //-         .panel-body.equal
      //-             .row
      //-                 .col-sm-4.col-xs-12
      //-                     .h4 email
      //-                     p {{comment.email}}
      //-                 .col-sm-4.col-xs-6
      //-                     .h4 ip
      //-                     p {{comment.ip}}
      //-                 .col-sm-4.col-xs-6
      //-                     .h4 Date
      //-                     p {{comment.date}}
      //-             .row
      //-                 .col-sm-12
      //-                     .h4 content
      //-                     p {{comment.content}}
      //-             .row
      //-                 .col-sm-12.text-right
      //-                     button.btn.btn-danger(ng-show="!comment.banned" ng-click="ban(comment)") Ban commentor
      //-                     button.btn.btn-warning(ng-show="comment.banned" ng-click="unban(comment)") Unban commentor
      //-                     button.btn.btn-danger(ng-click="deleteComment(comment)") Delete
      //-                     button.btn.btn-warning(ng-click="editComment(comment)") Edit
      //-                     button.btn.btn-success(ng-hide="comment.approved" ng-click="approveComment(comment)") Approve
      //-                     button.btn.btn-warning(ng-show="comment.approved" ng-click="unapproveComment(comment)") Unapprove
    
