.mb-choose-add-on:focus
  outline none
.mb-choose-add-on
  position relative
  display inline-block
  outline none
  border-radius: 99em
  margin: 1em
  width: 40px
  height 40px
  background-color: white
  color grey
  border 2px solid grey

  i
    position: absolute
    top 50%
    left 50%
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)

.mb-choose-add-on:hover
  color #2ECC71
  i
    color #2ECC71

.mb-drag-to-room
  margin 0 0.5em 0.75em
  padding 1.5em 1em 0.5em
  background-color CLOUDS
  border 2px dashed SILVER
