TURQUOISE = #1ABC9C
GREEN-SEA = #16A085
EMERALD = #2ECC71
NEPHRITIS = #27AE60
PETER-RIVER = #3498DB
BELIZE-HOLE = #2980B9
AMETHYST = #9B59B6
WISTERIA = #8E44AD
WET-ASPHALT = #34495E
MIDNIGHT-BLUE = #2C3E50
SUN-FLOWER = #F1C40F
ORANGE = #F39C12
CARROT = #E67E22
PUMPKIN = #D35400
ALIZARIN = #E74C3C
POMEGRANATE = #C0392B
CLOUDS = #ECF0F1
SILVER = #BDC3C7
CONCRETE = #95A5A6
ASBESTOS = #7F8C8D

.mdl-layout__header-row
  background-color #34495E
  color #ECF0F1
.mdl-layout__tab-bar-container
  background-color #34495E !important
.mdl-layout__tab-bar
  background-color #34495E !important
  color #ECF0F1
  height auto
.mdl-layout__header
  .mdl-layout__drawer-button
    background-color #34495E !important
    color #ECF0F1
.mdl-layout__drawer
  background-color #34495E
  border-right 1px solid #2C3E50 !important
  a,
  .mdl-list__item-primary-content,
  .mdl-list__item-primary-content i
    color #ECF0F1
    text-decoration none
.mdl-button--floating-action
  bottom 45px
  margin-bottom 100px
  padding-top 24px
  position fixed
  right 24px
  z-index 998
.mdl-button--accent
  background-color #3498DB !important
  color #ECF0F1 !important
.browsehappy
    background #ccc
    color #000
    margin 0.2em 0
    padding 0.2em 0

.mdl-button--fab.mdl-button--colored
  background-color GREEN-SEA

.mdl-switch.is-checked .mdl-switch__track,
.mdl-switch.is-checked .mdl-switch__thumb
  background-color #3498DB
.drop-zone
  margin 1em
  border-radius 3px
  background-color CLOUDS

.text-center
  text-align center

.mdl-navigation .mdl-list__item
  cursor pointer

.mdl-navigation .mdl-list__item:hover
  background-color: #2980B9
  color #ECF0F1

.mdl-navigation .mdl-list__item:hover i
  color #ECF0F1

.float-right
  float right

.right-1
  right 1em

.margin-right-1
  margin-right 0.7em

.bottom-1
  margin-bottom 1em

.pointer
  cursor pointer
