TURQUOISE = #1ABC9C
GREEN-SEA = #16A085
EMERALD = #2ECC71
NEPHRITIS = #27AE60
PETER-RIVER = #3498DB
BELIZE-HOLE = #2980B9
AMETHYST = #9B59B6
WISTERIA = #8E44AD
WET-ASPHALT = #34495E
MIDNIGHT-BLUE = #2C3E50
SUN-FLOWER = #F1C40F
ORANGE = #F39C12
CARROT = #E67E22
PUMPKIN = #D35400
ALIZARIN = #E74C3C
POMEGRANATE = #C0392B
CLOUDS = #ECF0F1
SILVER = #BDC3C7
CONCRETE = #95A5A6
ASBESTOS = #7F8C8D

.mdl-button--floating-action
  bottom 45px
  margin-bottom 100px
  padding-top 24px
  position fixed
  right 24px
  z-index 998

.browsehappy
    background #ccc
    color #000
    margin 0.2em 0
    padding 0.2em 0

.drop-zone
  margin 1em
  border-radius 3px
  background-color CLOUDS

.text-center
  text-align center

.mdl-navigation .mdl-list__item
  cursor pointer

.mdl-navigation .mdl-list__item:hover
  background-color: #2980B9
  color #ECF0F1

.mdl-navigation .mdl-list__item:hover i
  color #ECF0F1

.float-right
  float right

.right-1
  right 1em

.bottom-1
  margin-bottom 1em

.pointer
  cursor pointer
