.medium-toolbar-arrow-under:after {
  top: 90px;
}

.medium-editor-toolbar li button {
  padding: 12px;
}

.medium-editor-toolbar-actions button.medium-editor-action {
  min-width: 40px;
  height: 40px;
}

.medium-editor-toolbar {
  max-width: 280px;
}

// .medium-editor-toolbar li {
//   border-top: 5px solid black;
// }

.medium-editor-placeholder:after {
  position: static;
  color: black;
}

.medium-editor-toolbar li button {
  border-right: none;
}
