.extensiondata-selector
	.form-group
		margin-top 1em
	.extensiondata-list
		max-height 300px
		overflow auto
	.list-item
		overflow hidden
		border-radius 4px
		background-color PETER-RIVER
		padding 0.2em
		margin 0.2em 0
	.checkbox
		color CLOUDS
		margin 0.3em
		font-size 2em
		cursor pointer
		width 25px
	.list-title
		display inline-block
		margin 0 0
		color CLOUDS
		margin 0.3em
	.choose-extensions
		margin 1em 0
	
	.delete-source-btn
		margin 0.3em