nav.navbar.navbar-default.navbar-fixed-top(ng-controller="pageTemplateCtrl")
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header.page-scroll
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#page-top') Start Bootstrap
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right(ng-sortable="menusConfig")
				li.page-scroll(ng-repeat="menu in menus.hashPoints" sortable)
					a(href="{{menu.url}}" target="{{menu.target}}" ng-class="menu.classes" ng-click="handleClick($event, menu)") {{menu.title}}
				li.page-scroll.new-menu-item(ng-click="createMenuItem('hashPoints')" ng-if="editMode")
					a
						i.fa.fa-plus
						|  Add Menu
				//- button.btn.btn-success
				//- li.hidden(sortable)
				//- 	a(href='#page-top')
				//- li.page-scroll(sortable)
				//- 	a(href='#portfolio') Portfolio
				//- li.page-scroll(sortable)
				//- 	a(href='#about') About
				//- li.page-scroll(sortable)
				//- 	a(href='#contact') Contact
				//- li.page-scroll(sortable)
				//- 	a(href="/login") Login
		// /.navbar-collapse
	// /.container-fluid
// Header
header
	.container
		.row
			.col-lg-12
				img.img-responsive(src='themes/Tutorial/img/profile.png', alt='')
				.intro-text
					span.name(edit="editMode" ng-bind-html="page.title")
					hr.star-light
					span.skills(edit="editMode" ng-bind-html="page.content['content-1']")
// Portfolio Grid Section
section#portfolio
	.container
		.row
			.col-lg-12.text-center
				h2 Portfolio
				hr.star-primary
		.row
			.col-sm-4.portfolio-item
				a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='themes/Tutorial/img/portfolio/cabin.png', alt='')
			.col-sm-4.portfolio-item
				a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='themes/Tutorial/img/portfolio/cake.png', alt='')
			.col-sm-4.portfolio-item
				a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='themes/Tutorial/img/portfolio/circus.png', alt='')
			.col-sm-4.portfolio-item
				a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='themes/Tutorial/img/portfolio/game.png', alt='')
			.col-sm-4.portfolio-item
				a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='themes/Tutorial/img/portfolio/safe.png', alt='')
			.col-sm-4.portfolio-item
				a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
					.caption
						.caption-content
							i.fa.fa-search-plus.fa-3x
					img.img-responsive(src='themes/Tutorial/img/portfolio/submarine.png', alt='')
// About Section
section#about.success
	.container
		.row
			.col-lg-12.text-center
				h2 About
				hr.star-light
		.row
			.col-lg-4.col-lg-offset-2
				p(edit="editMode" ng-bind-html="page.content['paragraph-1']")
			.col-lg-4
				p(edit="editMode" ng-bind-html="page.content['paragraph-2']")
			.col-lg-8.col-lg-offset-2.text-center
				a.btn.btn-lg.btn-outline(href='#')
					i.fa.fa-download
					|  Download Theme
// Contact Section
section#contact
	.container
		.row
			.col-lg-12.text-center
				h2 Contact Me
				hr.star-primary
		.row
			.col-lg-8.col-lg-offset-2
				// To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
				// The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
				form#contactForm(name='sentMessage', novalidate='')
					.row.control-group
						.form-group.col-xs-12.floating-label-form-group.controls
							label Name
							input#name.form-control(type='text', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
							p.help-block.text-danger
					.row.control-group
						.form-group.col-xs-12.floating-label-form-group.controls
							label Email Address
							input#email.form-control(type='email', placeholder='Email Address', required='', data-validation-required-message='Please enter your email address.')
							p.help-block.text-danger
					.row.control-group
						.form-group.col-xs-12.floating-label-form-group.controls
							label Phone Number
							input#phone.form-control(type='tel', placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
							p.help-block.text-danger
					.row.control-group
						.form-group.col-xs-12.floating-label-form-group.controls
							label Message
							textarea#message.form-control(rows='5', placeholder='Message', required='', data-validation-required-message='Please enter a message.')
							p.help-block.text-danger
					br
					#success
					.row
						.form-group.col-xs-12
							button.btn.btn-success.btn-lg(type='submit') Send
// Footer
footer.text-center
	.footer-above
		.container
			.row
				.footer-col.col-md-4
					h3 Location
					p
						| 3481 Melrose Place
						br
						| Beverly Hills, CA 90210
				.footer-col.col-md-4
					h3 Around the Web
					ul.list-inline
						li
							a.btn-social.btn-outline(href='#')
								i.fa.fa-fw.fa-facebook
						li
							a.btn-social.btn-outline(href='#')
								i.fa.fa-fw.fa-google-plus
						li
							a.btn-social.btn-outline(href='#')
								i.fa.fa-fw.fa-twitter
						li
							a.btn-social.btn-outline(href='#')
								i.fa.fa-fw.fa-linkedin
						li
							a.btn-social.btn-outline(href='#')
								i.fa.fa-fw.fa-dribbble
				.footer-col.col-md-4
					h3 About Freelancer
					p(edit="editMode" ng-bind-html="page.content['paragraph-3']")
						//- | Freelance is a free to use, open source Bootstrap theme created by 
						a(href='http://startbootstrap.com') Start Bootstrap
						//- | .
	.footer-below
		.container
			.row
				.col-lg-12
					| Copyright © Your Website 2014
// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.visible-xs.visible-sm
	a.btn.btn-primary(href='#page-top')
		i.fa.fa-chevron-up
// Portfolio Modals
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Project Title
						hr.star-primary
						img.img-responsive.img-centered(src='themes/Tutorial/img/portfolio/cabin.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Project Title
						hr.star-primary
						img.img-responsive.img-centered(src='themes/Tutorial/img/portfolio/cake.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Project Title
						hr.star-primary
						img.img-responsive.img-centered(src='themes/Tutorial/img/portfolio/circus.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Project Title
						hr.star-primary
						img.img-responsive.img-centered(src='themes/Tutorial/img/portfolio/game.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Project Title
						hr.star-primary
						img.img-responsive.img-centered(src='themes/Tutorial/img/portfolio/safe.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 Project Title
						hr.star-primary
						img.img-responsive.img-centered(src='themes/Tutorial/img/portfolio/submarine.png', alt='')
						p
							| Use this area of the page to describe your project. The icon above is part of a free icon set by 
							a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
							| . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
						ul.list-inline.item-details
							li
								| Client:
								strong
									a(href='http://startbootstrap.com') Start Bootstrap
							li
								| Date:
								strong
									a(href='http://startbootstrap.com') April 2014
							li
								| Service:
								strong
									a(href='http://startbootstrap.com') Web Development
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close