.extensions-selector
	.nav-tabs
		cursor pointer
	.form-group
		margin-top 1em
	.extensions-list
		max-height 300px
		overflow auto
	.list-item
		overflow hidden
		border-radius 4px
		background-color PETER-RIVER
		padding 0.2em
		margin 0.2em 0
		cursor pointer
	.checkbox
		color CLOUDS
		margin 0.3em
		font-size 2em
	.list-title
		display inline-block
		margin 0 0
		color CLOUDS
		margin 0.3em
	.choose-extensions
		margin 1em 0
