.extensions-selector
	.form-group
		margin-top 1em
	.list-item
		overflow hidden
		border-radius 4px
		background-color PETER-RIVER
		padding 0.3em
		margin 0.3em 0
	.checkbox
		color CLOUDS
		margin 0.3em
		font-size 2em
		cursor pointer
	.list-title
		display inline-block
		margin 0 0
		color CLOUDS
		margin 0.3em
