node_modules
npm-debug.log
public/admin/bower_components
public/admin/*.png
public/app/*.png
public/app/*.svg
public/admin/public/fonts
public/app/public/fonts
public/app/bower_components
public/admin/bundle.js
public/admin/index.html
public/admin/bundle.js.map
public/admin/bower.js
public/app/bower.js
public/app/index.html
public/app/bundle.js
public/app/bundle.js.map
public/themes/*/theme.min.js
public/themes/*/theme.min.js.map
public/old-app/
public/old-app/**
server/logs/debug.log
.vscode
.tmp
old-server
.idea
bower_components
documentation
dist
!gulp/build/dist.js
/server/config/local.env.js
__MACOSX
code-documentation
meanbase.env
environment.env
