node_modules
npm-debug.log
client/admin/bundle.js
client/admin/bundle.js.map
client/admin/bower.js
client/app/bower.js
client/app/bundle.js
client/app/bundle.js.map
client/themes/*/index.js
client/themes/*/theme.min.js
client/themes/*/theme.min.js.map
client/themes/*/index.js
server/logs/debug.log
public
.tmp
.idea
bower_components
documentation
dist
!gulp/build/dist
/server/config/local.env.js
client/index.html
__MACOSX
/logs/debug.log
code-documentation
build
meanbase.env
