node_modules
npm-debug.log
client/admin/bower_components
client/app/bower_components
client/admin/bundle.js
client/admin/index.html
client/admin/bundle.js.map
client/admin/bower.js
client/app/bower.js
client/app/index.html
client/app/bundle.js
client/app/bundle.js.map
client/themes/*/theme.min.js
client/themes/*/theme.min.js.map
server/logs/debug.log
public
.tmp
.idea
bower_components
documentation
dist
!gulp/build/dist.js
/server/config/local.env.js
client/index.html
__MACOSX
code-documentation
meanbase.env
