.wobble
	-webkit-animation wiggle 0.4s ease infinite
	animation wiggle 0.4s ease infinite
@-webkit-keyframes wiggle 
	0% 
		-webkit-transform rotateZ(4deg)
	50% 
		-webkit-transform rotateZ(-4deg)
	100% 
		-webkit-transform rotateZ(4deg)
@-moz-keyframes wiggle
	0% 
		-moz-transform rotateZ(4deg)
	50% 
		-moz-transform rotateZ(-4deg)
	100% 
		-moz-transform rotateZ(4deg)
@-o-keyframes wiggle
	0% 
		-o-transform rotateZ(4deg)
	50%
		 -o-transform rotateZ(-4deg)
	100% 
		-o-transform rotateZ(4deg)
@keyframes wiggle
	0% 
		transform rotateZ(4deg)
	50% 
		transform rotateZ(-4deg)
	100% 
		transform rotateZ(4deg)