#meanbase-cms
  .mb-list-explanation
    position: relative
    padding 16px
    label
      display inline-block

    .mb-publish-label
      position: absolute
      right 40px
	.margin-top
		margin-top 1em
	.panel-group
		.panel
			overflow initial
	.commment-author
		padding-left 0.75em
	.date-field
		margin-bottom 0
	#moderate-comments
		.form-group
			.btn
				margin-right 0.5em
				margin-bottom 0.5em
