mb-list-selector
  display inline-block

mb-list-selector:focus
  outline none

.mb-list-selector-btn:focus
  outline none
.mb-list-selector-btn
  position relative
  display inline-block
  outline none
  border-radius: 99em
  margin: 1em
  width: 40px
  height 40px
  background-color: white
  color grey
  border 2px solid grey

  i
    position: absolute
    top 50%
    left 50%
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)

.extensions-selector
	.nav-tabs
		cursor pointer
	.form-group
		margin-top 1em
	.extensions-list
		max-height 300px
		overflow auto
	.list-item
		position relative
		overflow hidden
		// background-color PETER-RIVER
		padding 0.3em
		margin 0.5em 0
		border-bottom 2px solid CLOUDS
		cursor pointer
	.list-image
		display inline-block
		vertical-align middle
		max-width 200px
	.checkbox
		position absolute
		top 50%
		right 1em
		margin 0
		transform: translateY(-50%);
		display inline-block
		color MIDNIGHT-BLUE
		font-size 1.5em
	.list-title
		display inline-block
		vertical-align middle
		margin 0 0
		color MIDNIGHT-BLUE
		margin 0.3em
	.choose-extensions
		margin 1em 0
