#meanbase-cms
  .mdl-list__item--infinite-line
    height auto !important
    .mdl-list__item-primary-content.banned
      color: #ccc
      i
        background-color: #ccc
      .mdl-list__item-text-body
        color: #ccc
    .mdl-list__item-primary-content
      height auto !important
      .mdl-list__item-text-body
        height auto !important
        padding 0.5em
        display block
  .no-padding
    padding 0 !important
  .all-visible
    background-color white
    color #34495E
    i
      color #34495E
	.margin-top
		margin-top 1em
	.form-group
    label
      display block
    label.radio-inline
      display inline
  .container
    font-family: 'Roboto', sans-serif
    text-align: center;
    .pagination
      span
        height: 30px
        width: 30px
        color: rgba(0,0,0,.5)
        cursor: pointer
        display: inline-block
        line-height: 30px

      span.active
        // background: #2196F3
        border-radius: 50%
        color: #ECF0F1
        background-color: #3498db

      span.active:hover
        color: #ECF0F1

      span:first-child
        margin-left: 10px

      span:last-child
        margin-right: 10px

      font-size: 20px
      text-align: center
