//- #mb-headbar(ng-if="isLoggedIn")
//-   div#mb-headbar-child
//-     a.mb-headbar-btn(href='/cms' target="_self")
//-       span.show-desktop.mb-button Manage Site
//-       span.show-mobile.mb-button
//-         i.fa.fa-lg.fa-gears
//-     .mb-headbar-btn.dropdown(v-show="$root.editMode && headbar.permissions.indexOf('editContent') > -1")
//-       span.dropdown-link(title="Choose a template for this page").mb-button
//-         span.show-desktop Change Template
//-         span.show-mobile
//-           i.fa.fa-lg.fa-paint-brush
//-       ul.dropdown-list
//-         li(v-repeat="template in headbar.themeTemplates")
//-           a.drop-down-item-with-check(href="#" ng-click="headbar.updateTemplate(template)" ng-mouseover="headbar.showScreenshot(template)" ng-mouseleave="headbar.hideScreenshot(template)")
//-             span {{::template + ' template'}}
//-             span(v-show="template === page.template").mb-template-check
//-               i.fa.fa-check
//- 
//-     .mb-headbar-btn(v-show="headbar.permissions.indexOf('editContent') > -1 && editMode" title="Preview Page")
//-       a(ng-click="headbar.preview()").mb-button
//-         span.show-desktop Preview
//-         span.show-mobile
//-           i.fa.fa-lg.fa-eye
//-     .mb-headbar-btn(v-show="headbar.permissions.indexOf('editContent') > -1 && editMode" title="Undo the last edit")
//-       a(ng-click="headbar.undoMoment()").mb-button
//-         span.show-desktop Undo
//-         span.show-mobile
//-           i.fa.fa-lg.fa-undo
//-     .mb-headbar-btn(v-show="headbar.permissions.indexOf('publishContent') > -1 && !editMode")
//-       a(ng-click="headbar.togglePublishPage()").mb-button
//-         span(v-show="!page.published" title="Publish the page") Publish
//-         span(v-show="page.published" title="Hide the page from the world") Unpublish
//-     .mb-headbar-btn(v-show="headbar.permissions.indexOf('editContent') > -1 && !editMode")
//-       a(ng-click="headbar.toggleEdit()" title="Return to edits").mb-button
//-         span.show-desktop Edit
//-         span.show-mobile
//-           i.fa.fa-lg.fa-pencil
//-     .mb-headbar-btn(v-show="headbar.permissions.indexOf('publishContent') > -1 && page.published")
//-       a(ng-click="headbar.publishChanges()" title="Save all recent edits to the live page").mb-button
//-         span.show-desktop Publish Changes
//-         span.show-mobile
//-           i.fa.fa-lg.fa-check
//-     .mb-headbar-btn.show-desktop(v-show="autoSavingInProgress")
//-       a.mb-button autosaving...
//- 
//-     .mb-headbar-btn.mb-headbar-btn-right
//-       a(ng-click="headbar.openMBPageDrawer($event)").mb-link-btn
//-         i.fa.fa-lg.fa-search
//- 
//-     .mb-headbar-btn.dropdown.mb-headbar-btn-right
//-       span.dropdown-link.mb-link-btn
//-         i.fa.fa-lg.fa-trash
//-       ul.dropdown-list
//-         //- li(v-show="editMode")
//-         //-   a(ng-click="headbar.editPageModal()") Settings
//-         li(v-show="editMode" title="Undo all changes since last time this was published")
//-           a(ng-click="headbar.resetDraft()") Reset Draft
//-         //- li.divider(v-show="$root.previousEditUrls.length")
//-         //- li.dropdown-header(v-show="$root.previousEditUrls.length") Recent Edits
//-         //- li(v-repeat="url in $root.previousEditUrls")
//-         //-   a(:href="url") {{url}}
//-         //- li.divider(v-show="$root.previousEditUrls.length")
//-         li(v-show="headbar.permissions.indexOf('deleteContent') > -1 && editMode")
//-           a(ng-click="headbar.deletePage()") Delete page
//- 
//-     .mb-headbar-btn.dropdown.mb-headbar-btn-right
//-       span.dropdown-link.mb-link-btn
//-         i.fa.fa-user.fa-lg
//-       ul.dropdown-list
//-         li
//-           a(href='/cms' target="_self") CMS
//-         li
//-           a(href='/') Home Page
//-         li
//-           a(ng-click="logout()") Log Out
//-         li
//-           a(href='/cms/my-settings' target="_self") Change Password
//- 
//-     .mb-headbar-btn.mb-headbar-btn-right
//-       a(href='/').mb-link-btn
//-         i.fa.fa-lg.fa-home
//- 
//-     .mb-headbar-btn.dropdown.mb-headbar-btn-right(v-show="$root.editMode && headbar.permissions.indexOf('editContent') > -1")
//-       span.dropdown-link.mb-create-page-btn
//-         span
//-           i.fa.fa-lg.fa-plus
//-       ul.dropdown-list
//-         li(v-repeat="template in headbar.themeTemplates")
//-           a(href="#" ng-click="headbar.createPage($event)" ng-mouseover="headbar.showScreenshot(template)" ng-mouseleave="headbar.hideScreenshot(template)") {{::template + ' template'}}
//- 
//-   #mb-pages-drawer.mb-sidenav
//-     .mb-sidenav-child
//-       .mb-search-box
//-         i.fa.fa-search
//-         input(type="text" placeholder="filter pages" ng-model="mbSearchPagesDrawer").mb-drawer-search
//- 
//-       .mb-draw-pages-list
//-         label(v-show="headbar.previousEditUrls.length") Recent Edits
//-         a(v-repeat="url in headbar.previousEditUrls", :href="url") {{url}}
//-         hr
//-         a(v-repeat="page in drawerPages | filter:mbSearchPagesDrawer", :href="page.url").mb-page-link {{page.title | htmlToPlainText }}
//- 
//- 
//- div(v-show="editMode" ng-sortable="trashCanDraggable" title="Drag items here to delete").mb-drag-trash-can.mb-draggable
//-   i.fa.fa-trash.fa-3x

h1 headbar
