//- script(src="google-analytics-embed-customizations.js")
#meanbase-analytics.container
  section#auth-button
  section#view-selector
  section#timeline  
  #chart-container

script.
  window.runAnalyticsScripts();
