div.drop-zone(nv-file-drop="uploader" multiple uploader="uploader").text-center.form-inline
  p Drop theme #[strong zip, gz, bz2,] or #[strong tar] file here to upload or
  .form-group.text-center
    input#file.form-control(type='file' nv-file-select multiple uploader="uploader" style="display: none")
    label.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.file-upload-btn(for="file")
      i.material-icons add
  .progress
      .progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")
.mdl-grid
  .mdl-cell.mdl-cell--4-col.mdl-cell--16-col-tablet(ng-repeat="theme in themes | filter:filterThemes" mdl).theme
    .mdl-card.mdl-shadow--2dp
      img(ng-src="{{theme.preview}}" fallback-src="http://placehold.it/500x300")
      .mdl-card__title.mdl-card--expand
        h2.mdl-card__title-text {{theme.title}}
      .mdl-card__actions.mdl-card--border
        .mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(ng-disabled="theme.active" ng-click="activateTheme(theme)") 
          span(ng-if="!theme.active") Activate Theme
          span(ng-if="theme.active") Theme active
        span.mdl-layout-spacer
        i.material-icons.float-right.pointer(ng-click="t.toggleModal('isSettingsOpen', 'settings', theme)") settings
        i.material-icons.float-left.pointer(ng-click="t.toggleModal('isDeleteOpen', 'themeToDelete', theme)") delete

dialog.mdl-dialog(dialog-open="isDeleteOpen")
  h4.mdl-dialog__title Delete {{themeToDelete.title}}?
  .mdl-dialog__content
    p Are you sure you want to delete {{themeToDelete.title}}? It will also delete any data specific to this theme.
  .mdl-dialog__actions
    button.mdl-button(type='button' ng-click="deleteTheme(themeToDelete)") Yes
    button.mdl-button(type='button' ng-click="t.toggleModal('isDeleteOpen', 'themeToDelete')") No

dialog.mdl-dialog(dialog-open="isSettingsOpen")
  h4.mdl-dialog__title {{settings.title}} Template Mapping
  .mdl-dialog__content
    .form-group(ng-repeat="(template, tags) in settings.templates").no-margin
      label.template-label {{template}}
      taglist(ng-model="settings.templates[template]")
  .mdl-dialog__actions
    button.mdl-button(type='button' ng-click="saveSettings(settings, settings)") Save
    button.mdl-button(type='button' ng-click="t.toggleModal('isSettingsOpen', 'settings')") Dismiss
    
