#meanbase-cms
	.drop-zone
		padding 1em
		background-color CLOUDS
		border 2px dashed CONCRETE
		
		p
			margin-bottom 0
			padding 0
		
		.progress
			margin-top 0.5em
			margin-bottom 0
	.mass-edit-buttons
		.btn
			margin-right 0.5em
			margin-top 0.3em
			color CLOUDS
		.delete-visible
			background-color MIDNIGHT-BLUE
		.delete-selected
			background-color POMEGRANATE
		.group-selected
			background-color GREEN-SEA