p Choose the look and feel of your site
.alert.alert-success #[strong For Developers:] A theme must have page templates. Those are the structure your page has without or without any content. A template must have a valid template name, followed by a -template.html or -template.jade, such as "no-sidebar-template.jade". A theme must also have a screenshot for the theme and a theme.json file with the author, email, website, title, and description. It may optionally also have a styles.html and scripts.html that will be included in the master index.html page when the theme is loaded or activated.
div.drop-zone(nv-file-drop="uploader" multiple uploader="uploader").text-center.form-inline
	p Drop theme #[strong zip, gz, bz2,] or #[strong tar] file here to upload or
	.form-group.text-center
		input.form-control(type='file' nv-file-select multiple uploader="uploader")
	.progress
			.progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")
.mdl-grid
	.mdl-cell.mdl-cell--4-col.mdl-cell--16-col-tablet(ng-repeat="theme in themes" mdl).theme
		.mdl-card.mdl-shadow--2dp
			img(ng-src="{{theme.preview}}" fallback-src="http://placehold.it/500x300")
			.mdl-card__title.mdl-card--expand
				h2.mdl-card__title-text {{theme.title}}
			.mdl-card__actions.mdl-card--border
				a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(ng-disabled="theme.active" ng-click="activateTheme(theme)") 
					span(ng-if="!theme.active") Activate Theme
					span(ng-if="theme.active") Theme active


script(type="text/ng-template" id="theme.modal.html")
	.modal-header
		button.close(type='button' ng-click="cancel()")
			span(aria-hidden='true') ×
			span.sr-only Close
		h4(id="theme-{{$index}}").modal-title {{theme.title}}
	.modal-body
		.mb-theme-controls.a-left
			.form-group(validate="{{errorMessages.isTitle}}").has-feedback
				label Author
				input(type="text" ng-model="theme.author" ng-pattern="validators.isTitle" required).form-control
				span.glyphicon.glyphicon-ok.form-control-feedback
			.form-group(validate="{{errorMessages.isEmail}}").has-feedback
				label Email
				input(type="text" ng-model="theme.email" ng-pattern="validators.isEmail" required).form-control
				span.glyphicon.glyphicon-ok.form-control-feedback
			.form-group(validate="{{errorMessages.isURI}}").has-feedback
				label Website
				input(type="text" ng-model="theme.website" ng-pattern="validators.isURI").form-control
				span.glyphicon.glyphicon-ok.form-control-feedback
			.form-group
				label Description
				textarea.form-control {{theme.description}}
			p(ng-if="theme.active").mb-active-theme.bg-success Currently in use
			p(ng-if="!theme.active").mb-active-theme.bg-warning Not being used
			hr
			h4 Template Mapping
			p.help-text Different themes support different templates. So what happens if you save a page using the "Awesome" theme's super duper template but then you switch to a boring theme that only has the "boring-template". This allows you to connect those templates so you can choose how the content from the previous theme gets displayed in the new theme. Just add the template names from the old theme as tags to the new theme templates.
			label.your-templates-label Supported Templates
			label.template-field-label Incoming Templates

			.form-group(ng-repeat="(template, tags) in templates")
				label.template-label {{template}}
				taglist(ng-model="templates[template]")
	.modal-footer
		button.btn.btn-danger(ng-disabled="theme.active" ng-click="deleteTheme(theme)" data-dismiss='modal') Delete
		button.btn.btn-warning(type='button' ng-click="updateTheme()" data-dismiss='modal') Update
		button.btn.btn-success(ng-disabled="theme.active" ng-click="activateTheme()" data-dismiss='modal') Use this theme
		button.btn.btn-default(type='button' ng-click="cancel()") Close
