#meanbase-cms
  .theme
    .mdl-card
      width 100%
    img
      width 100%
    i
      float right
      margin 0.2em
.float-left
  float left

.template-tags
	vertical-align middle
	display inline-block
	min-width 80%
	margin-bottom 0
	padding 0 0.5em

.template-label
	vertical-align middle
	margin-bottom 0
	width 80px
	margin-right 1em

.your-templates-label
	width 80px
	margin-right 1em

tags-input
	.tags
		padding 0
		margin 0
		background-color transparent
		box-shadow none
		border none
		outline none
		&.focused
			box-shadow none
			-webkit-box-shadow none
			outline none
		.input
			border-bottom 2px solid grey
			background-color transparent
		.tag-list
			.tag-item
				height auto
				border none
				background none
				background-color white
				padding 0 0.5em
