.mdl-grid
  .mdl-cell.mdl-cell--12-col
    div.drop-zone(nv-file-drop="uploader" nv-file-over multiple uploader="uploader").text-center.form-inline
      p Drop files here to upload or
      .form-group.text-center
      input#file.form-control(type='file' nv-file-select multiple uploader="uploader" style="display: none")
      label.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.file-upload-btn(for="file")
        i.material-icons add
      .progress
          .progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")
.mdl-grid
  .mdl-cell.mdl-cell--12-col
    mb-image-selector(mb-image-selector-config="imageSelectorConfig")
