#meanbase-cms
	.drop-zone
		padding 1em
		background-color CLOUDS
		border 2px dashed CONCRETE
		p
			margin-bottom 0
			padding 0
		
		.progress
			margin-top 0.5em
			margin-bottom 0
	.nv-file-over
		background-color SILVER
		border-color CLOUDS