div.img-responsive
	img(ng-src="{{image.modifiedurl}}" alt="{{image.alt}}" title="{{image.attribute}}" ng-show="image" fallback-src="{{placeholdIt}}" nv-file-drop="mediaUploader" nv-file-over uploader="mediaUploader").img-responsive
	.progress(ng-if="mediaUploader.isUploading").image-upload-progress-bar
		.progress-bar(role="progressbar" ng-style="{ 'width': mediaUploader.progress + '%' }")
	div.caption(ng-if="caption") {{image.alt}}
div(ng-if="editMode" find-images-for="{{singleImage}}" multiple="false" class="gallery-find-images")