.mb-list-item
  display: block
  padding 1em

.mb-list-label
  display block
  float left
.mb-list-checkbox
  display block
  float right

.in-drag-mode .mb-drag-trash-can
  height 75px
  width 75px

  i
    font-size: 3em
    
.in-drag-mode
  .mb-draggable,
  .mb-inner-draggable
    cursor move !important
    cursor -webkit-grabbing !important
