<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Menu Area</a>
    </div>
    <div>
      <ul class="nav navbar-nav" ng-sortable="menusConfig">
        <li ng-repeat="menu in menus[extension.config.menuArea]" sortable>
          <a href="" href="{{menu.url}}" target="{{menu.target}}" ng-class="menu.classes" ng-click="handleClick($event, menu)"> {{menu.title}}</a>
        </li>
        <li class="new-menu-item-button" ng-click="createMenuItem(extension.config.menuArea)" ng-if="editMode">
          <a href=""><i class="fa fa-plus"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div ng-if="editMode" class="gallery-config">
  <div class="form-group">
    <label>Menu Area Name: </label>
    <input type="text" class="form-control" ng-model="extension.config.menuArea">
  </div>
</div>