<div ng-controller="landingController as controller">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <choose-link belongs-to="page.links" property="callToAction">
                <a class="navbar-brand topnav" mb-link="callToAction" belongs-to="page.links">
                  <choose-icon belongs-to="page.links.callToAction" property="icon"></choose-icon>
                  <span mb-edit ng-model="page.links.callToAction.title" bind-options="editorSingleLine"></span>
                </a>
              </choose-link>
              <!-- <a class="navbar-brand topnav" href="#">Use Meanbase</a> -->
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li ng-repeat="menu in menus.main" sortable>
                      <a target="{{menu.target}}" ng-class="menu.classes" ng-click="handleClick($event, menu, menu.url)">{{menu.title}}</a>
                  </li>
                  <li ng-click="createMenuItem('main')" ng-if="editMode" class="new-menu-item-button"><a><i class="fa fa-plus"></i></a></li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>


  <!-- Header -->
  <a name="about"></a>
  <choose-image property="image-1">
    <div class="intro-header" mb-src="image-1" background-prefix="linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) )">
        <div class="container disable-click">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                      <div class="enable-click">
                        <div mb-edit ng-model="page.title" bind-options="editorSingleLine"></div>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li ng-repeat="socialBtn in page.lists.social" style="position: relative;">
                              <choose-link belongs-to="socialBtn" property="link">
                                <a class="btn btn-default" mb-link="link" belongs-to="socialBtn">
                                  <choose-icon belongs-to="socialBtn" property="icon"></choose-icon>
                                  <span mb-edit ng-model="socialBtn.title" bind-options="editorSingleLine"></span>
                                </a>
                              </choose-link>
                              <mb-list-remove list="page.lists.social" item="socialBtn"></mb-list-remove>
                            </li>
                            <li class="text-center" ng-if="editMode" ng-init="socialBtn = {}" style="position: relative;">
                              <choose-link belongs-to="socialBtn" property="link">
                                <a class="btn btn-default" mb-link="link" belongs-to="socialBtn">
                                  <choose-icon belongs-to="socialBtn" property="icon"></choose-icon>
                                  <span mb-edit ng-model="socialBtn.title" bind-options="editorSingleLine"></span>
                                </a>
                              </choose-link>
                              <mb-list-add list="page.lists.social" item="socialBtn"></mb-list-add>
                            </li>

                            <!-- <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Dcomentation</span></a>
                            </li> -->
                        </ul>
                      </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
  </choose-image>
  <!-- /.intro-header -->

  <!-- Page Content -->

<a  name="services"></a>
  <div class="content-section-a">

      <div class="container">
          <div class="row">

            <!-- <page-list class="col-lg-4 col-sm-4 text-center mb-animate-list" list="page.lists.bulletPoints1">
              <choose-icon belongs-to="item" property="icon" class="margin-bottom-1"></choose-icon>
              <choose-image property="image" belongs-to="item">
                <img mb-src="image" belongs-to="item" class="img-responsive"/>
              </choose-image>
              <h3 meanbase-editable ng-bind-html="item.title"></h3>
              <div meanbase-editable ng-bind-html="item.description"></div>
              <mb-list-remove list="page.lists.bulletPoints1" item="item"></mb-list-remove>
            </page-list> -->

            <div class="col-lg-4 col-sm-4 text-center mb-animate-list" ng-repeat="point in page.lists.bulletPoints1">
              <choose-icon belongs-to="point" property="icon" class="margin-bottom-1"></choose-icon>
              <choose-image property="image" belongs-to="point">
                <img mb-src="image" belongs-to="point" class="img-responsive"/>
              </choose-image>
              <!-- <h3 meanbase-editable ng-bind-html="point.title"></h3>
              <div meanbase-editable ng-bind-html="point.description"></div> -->
              <div mb-edit ng-model="point.title" bind-options="editorOptions"></div>
              <div mb-edit ng-model="point.description" bind-options="editorOptions"></div>
              <mb-list-remove list="page.lists.bulletPoints1" item="point"></mb-list-remove>
            </div>
            <div class="col-lg-4 col-sm-4 text-center" ng-if="editMode" ng-init="point = {}">
              <choose-icon belongs-to="point" property="icon" class="margin-bottom-1"></choose-icon>
              <choose-image property="image" belongs-to="point">
                <img mb-src="image" belongs-to="point" class="img-responsive"/>
              </choose-image>
              <!-- <h3 meanbase-editable ng-bind-html="point.title"></h3> -->
              <h3 mb-edit ng-model="point.title" bind-options="editorOptions"></h3>
              <div mb-edit ng-model="point.description" bind-options="editorOptions"></div>
              <!-- <div meanbase-editable ng-bind-html="point.description"></div> -->
              <mb-list-add list="page.lists.bulletPoints1" item="point"></mb-list-add>
            </div>

              <!-- <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <div meanbase-editable="meanbase-editable" ng-bind-html="page.content['content-1']"></div>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <choose-image property="image-2"><img mb-src="image-2" class="img-responsive"/></choose-image>
              </div> -->
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading"mb-edit ng-model="page.content['content-2']" bind-options="editorOptions"></h2></h2>
                  <div class="lead" mb-edit ng-model="page.content['content-3']" bind-options="editorOptions"></div>
              </div>
              <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <choose-image property="image-3"><img mb-src="image-3" class="img-responsive"/></choose-image>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <div mb-edit ng-model="page.content['content-4']" bind-options="editorOptions"></div>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <choose-image property="image-4"><img mb-src="image-4" class="img-responsive"/></choose-image>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

<a  name="contact"></a>
  <choose-image property="image-5">
    <div class="banner" mb-src="image-5">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2><div mb-edit ng-model="page.content['footer-1']" bind-options="editorSingleLine"></div></h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                      <li ng-repeat="socialBtn in page.lists.social" style="position: relative;">
                        <choose-link belongs-to="socialBtn" property="link">
                          <a class="btn btn-default" mb-link="link" belongs-to="socialBtn">
                            <choose-icon belongs-to="socialBtn" property="icon"></choose-icon>
                            <span mb-edit ng-model="socialBtn.title" bind-options="editorSingleLine"></span>
                          </a>
                        </choose-link>
                        <mb-list-remove list="page.lists.social" item="socialBtn"></mb-list-remove>
                      </li>
                      <li class="text-center" ng-if="editMode" ng-init="socialBtn = {}" style="position: relative;">
                        <choose-link belongs-to="socialBtn" property="link">
                          <a class="btn btn-default" mb-link="link" belongs-to="socialBtn">
                            <choose-icon belongs-to="socialBtn" property="icon"></choose-icon>
                            <span mb-edit ng-model="socialBtn.title" bind-options="editorSingleLine"></span>
                          </a>
                        </choose-link>
                        <mb-list-add list="page.lists.social" item="socialBtn"></mb-list-add>
                      </li>
                    </ul>
                </div>
            </div>

        </div>
      <!-- /.container -->
    </choose-image>
  </div>
  <!-- /.banner -->

  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <p class="copyright text-muted small" meanbase-editable="meanbase-editable" ng-bind-html="page.content['license']"></p>
              </div>
          </div>
      </div>
  </footer>
</div>
