.mdl-grid
  .mdl-cell.mdl-cell--12-col
    ul.mdl-list
      li.mdl-list__item.mdl-list__item--two-line(ng-repeat="page in pages | filter:pageFilter" mdl)
        span.mdl-list__item-primary-content
          span(id="{{page.url}}")
            span {{page.title}}
            span.mdl-list__item-sub-title {{page.url}}
          .mdl-tooltip.mdl-tooltip--bottom(for='{{page.url}}')
            | Go to and Edit {{page.url}}
        .mdl-list__item-secondary-content
          mdl-switch(ng-model='page.published' ng-click="togglePublished(page)")
        .mdl-list__item-secondary-content
          button(id="{{page._id}}").mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons more_vert
          ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='{{page._id}}')
            li.mdl-menu__item.page-settings-button(ng-click="p.toggleModal('isSettingsOpen', 'settings', page)") Settings
            li.mdl-menu__item.confirm-delete-button(ng-click="p.toggleModal('isDeleteOpen', 'pageToDelete', page)") Delete Page
// Colored FAB button
button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-button--floating-action
  i.material-icons(ng-click="openSettingsModal()") add

dialog.mdl-dialog(dialog-open="isDeleteOpen")
  h4.mdl-dialog__title Delete {{pageToDelete.title}}?
  .mdl-dialog__content
    p Are you sure you want to delete {{pageToDelete.title}}?
  .mdl-dialog__actions
    button.mdl-button.close(type='button' ng-click="deletePage(pageToDelete)") Yes
    button.mdl-button.close(type='button' ng-click="p.toggleModal('isDeleteOpen', 'pageToDelete')") No
    
    
dialog.mdl-dialog(dialog-open="isSettingsOpen")
  h4.mdl-dialog__title Page Settings
  .mdl-dialog__content
    form(action='#' mdl)
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.title}")
        input#title.mdl-textfield__input(type='text', value='Everyone' ng-model='settings.title')
        label.mdl-textfield__label(for='title') Page Title
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.url}")
        input#url.mdl-textfield__input(type='text' ng-model='settings.url' mdl)
        label.mdl-textfield__label(for='url') Url (Ex: "about-me")
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.template}")
        input#template.mdl-textfield__input(type='text' ng-model='settings.template' mdl)
        label.mdl-textfield__label(for='template') Page Template
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.tabTitle}")
        input#browser-window-title.mdl-textfield__input(type='text' ng-model='settings.tabTitle')
        label.mdl-textfield__label(for='browser-window-title') Browser Window Title
      .mdl-textfield.mdl-js-textfield(ng-class="{'is-dirty': settings.description}")
        textarea.mdl-textfield__input(type='text', rows='3', id='Page Description' ng-model='settings.description')
        label.mdl-textfield__label(for='Page Description') Page Description
  .mdl-dialog__actions
    button.mdl-button(type='button', ng-click="saveSettings(settings, settings)") Save
    button.mdl-button(type='button' ng-click="p.toggleModal('isSettingsOpen', 'settings')") Dismiss
