
ul.demo-list-two.mdl-list
  li.mdl-list__item.mdl-list__item--two-line(ng-repeat="page in pages")
    span.mdl-list__item-primary-content
      span(id="{{page.url}}")
        span {{page.title}} {{isSettingsOpen}}
        span.mdl-list__item-sub-title {{page.url}}
      .mdl-tooltip.mdl-tooltip--bottom(for='{{page.url}}')
        | Go to and Edit {{page.url}}
    .mdl-list__item-secondary-content
      mdl-switch(ng-model='page.published' ng-click="crud.update(page)")
    .mdl-list__item-secondary-content
      button#extra-1.mdl-button.mdl-js-button.mdl-button--icon
        i.material-icons more_vert
      ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='extra-1')
        li.mdl-menu__item.page-settings-button(ng-click="crud.toggleModal('isSettingsOpen', 'settings', page)") Settings
        li.mdl-menu__item.confirm-delete-button(ng-click="crud.toggleModal('isDeleteOpen', 'pageToDelete', page)") Delete Page
// Colored FAB button
button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-button--floating-action
i.material-icons add

dialog.mdl-dialog(dialog-open="isDeleteOpen")
  h4.mdl-dialog__title Delete {{pageToDelete.title}}?
  .mdl-dialog__content
    p Are you sure you want to delete {{pageToDelete.title}}?
  .mdl-dialog__actions
    button.mdl-button.close(type='button' ng-click="deletePage(pageToDelete)") Yes
    button.mdl-button.close(type='button' ng-click="crud.toggleModal('isDeleteOpen', 'pageToDelete')") No
    
    
dialog.mdl-dialog(dialog-open="isSettingsOpen")
  h4.mdl-dialog__title Page Settings
  .mdl-dialog__content
    form(action='#')
      mdl-text-field(label='Who has permission to see?', ng-model='settings.visibility')
      mdl-text-field(label='Url (Ex: "about-me")', ng-model='settings.url')
      mdl-text-field(label='Browser Window Title', ng-model='settings.tabTitle')
      mdl-text-area(label='Page Description', ng-model='settings.description')
  .mdl-dialog__actions
    button.mdl-button(type='button', ng-click="saveSettings(settings, settings)") Save
    button.mdl-button.close(type='button' ng-click="crud.toggleModal('isSettingsOpen', 'settings')") Dismiss
