<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4 mb-animate-list relative" mb-grid-item item="point" ng-repeat="point in bulletPoints.items">
        <div class="text-center">
          <choose-icon belongs-to="point" property="icon" class="margin-bottom-1"></choose-icon>
          <choose-image property="image" belongs-to="point">
            <img mb-src="image" belongs-to="point" class="img-responsive"/>
          </choose-image>
          <mb-edit ng-model="point.title" bind-options="editorOptions"></mb-edit>
          <mb-edit ng-model="point.description" bind-options="editorOptions"></mb-edit>
          <mb-list-remove list="bulletPoints.items" item="point"></mb-list-remove>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 text-center relative" mb-grid-item item="point" ng-if="editMode">
        <div class="text-center">
          <choose-icon property="icon" belongs-to="point" class="margin-bottom-1"></choose-icon>
          <choose-image property="image" belongs-to="point">
            <img mb-src="image" belongs-to="point" class="img-responsive"/>
          </choose-image>
          <mb-edit ng-model="point.title" bind-options="editorOptions"></mb-edit>
          <mb-edit ng-model="point.description" bind-options="editorOptions"></mb-edit>
          <mb-list-add list="bulletPoints.items" item="point"></mb-list-add>
        </div>
      </div>
    </div>
  </div>
</div>
