h2 Themes
.row
	.col-md-4.col-sm-6(ng-repeat="theme in themes")
			h4 {{theme.title}} 
			img(ng-src="../../themes/{{theme.url}}/assets/images/screenshot.png" ng-click="openModal(theme)").img-responsive.img-thumbnail
			.text-center
				p(ng-if="theme.active").mb-active-theme.bg-success Currently in use
				p(ng-if="!theme.active").mb-active-theme.bg-warning Not being used
