
<script type="text/ng-template" id="theme.modal.html">
  <div class="modal-header">
    <button type="button" ng-click="cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 id="theme-{{$index}}" class="modal-title">{{theme.title}}</h4>
  </div>
  <div class="modal-body">
    <div class="mb-theme-controls a-left">
      <div validate="{{errorMessages.isTitle}}" class="form-group has-feedback">
        <label>Author</label>
        <input type="text" ng-model="theme.author" ng-pattern="validators.isTitle" required="required" class="form-control"/><span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <div validate="{{errorMessages.isEmail}}" class="form-group has-feedback">
        <label>Email</label>
        <input type="text" ng-model="theme.email" ng-pattern="validators.isEmail" required="required" class="form-control"/><span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <div validate="{{errorMessages.isURI}}" class="form-group has-feedback">
        <label>Website</label>
        <input type="text" ng-model="theme.website" ng-pattern="validators.isURI" class="form-control"/><span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control">{{theme.description}}</textarea>
      </div>
      <p ng-if="theme.active" class="mb-active-theme bg-success">Currently in use</p>
      <p ng-if="!theme.active" class="mb-active-theme bg-warning">Not being used</p>
      <hr/>
      <h4>Template Mapping</h4>
      <p class="help-text">Different themes support different templates. So what happens if you save a page using the "Awesome" theme's super duper template but then you switch to a boring theme that only has the "boring-template". This allows you to connect those templates so you can choose how the content from the previous theme gets displayed in the new theme. Just add the template names from the old theme as tags to the new theme templates.</p>
      <label class="your-templates-label">Supported Templates</label>
      <label class="template-field-label">Incoming Templates</label>
      <div ng-repeat="(template, tags) in templates" class="form-group">
        <label class="template-label">{{template}}</label>
        <taglist ng-model="templates[template]"></taglist>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="deleteTheme(theme)" data-dismiss="modal" class="btn btn-danger">Delete</button>
    <button type="button" ng-click="updateTheme()" data-dismiss="modal" class="btn btn-warning">Update</button>
    <button ng-disabled="theme.active" ng-click="activateTheme()" data-dismiss="modal" class="btn btn-success">Use this theme</button>
    <button type="button" ng-click="cancel()" class="btn btn-default">Close</button>
  </div>
</script>