script(type="text/ng-template" id="theme.modal.html")
	.modal-header
		button.close(type='button'  ng-click="cancel()")
			span(aria-hidden='true') ×
			span.sr-only Close
		h4(id="theme-{{$index}}").modal-title {{theme.title}}
	.modal-body
		.mb-theme-controls.a-left
			.form-group
				label Author
				input(type="text" value="{{theme.author}}" disabled).form-control
			.form-group
				label Email
				input(type="text" value="{{theme.email}}" disabled).form-control
			.form-group
				label Website
				input(type="text" value="{{theme.website}}" disabled).form-control
			.form-group
				label Description
				textarea(disabled).form-control {{theme.description}}
			p(ng-if="theme.active").mb-active-theme.bg-success Currently in use
			p(ng-if="!theme.active").mb-active-theme.bg-warning Not being used
	.modal-footer
		button.btn.btn-danger(ng-click="deleteTheme(theme)" data-dismiss='modal') Delete
		button.btn.btn-warning(type='button' ng-click="updateTheme()" data-dismiss='modal') Update
		button.btn.btn-success(ng-disabled="theme.active" ng-click="activateTheme()" data-dismiss='modal') Use this theme
		button.btn.btn-default(type='button' ng-click="cancel()") Close