<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<div>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <mb-choose-link belongs-to="page.links" property="callToAction">
                <a class="navbar-brand topnav mb-link" mb-link="callToAction" belongs-to="page.links">
                  <mb-choose-icon belongs-to="page.links.callToAction" property="icon"></mb-choose-icon>
                  <mb-edit ng-model="page.links.callToAction.title" bind-options="editorSingleLine"></mb-edit>
                </a>
              </mb-choose-link>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- <ul class="nav navbar-nav navbar-right">
                <li mb-add-menu-item="main" class="new-menu-item-button ignore-draggable">
                  <a><i class="fa fa-plus"> </i> <span> Add Link</span></a>
                </li>
              </ul> -->
              <ul class="nav navbar-nav navbar-right" ng-sortable="$root.menusConfig">
                  <li ng-repeat="menu in menus.main" ng-class="{'mb-draggable': $root.editMode}">
                      <a target="{{menu.target}}" class="mb-link" ng-class="menu.classes" ng-click="handleClick($event, menu, menu.url)">{{menu.title}}</a>
                  </li>
                  <li mb-add-menu-item="main" class="new-menu-item-button ignore-draggable">
                    <a><i class="fa fa-plus"> </i> <span> Add Link</span></a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>


  <!-- Header -->
  <a name="about"></a>
  <mb-choose-image property="image-1">
    <div class="intro-header" mb-src="image-1" background-prefix="linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) )">
        <div class="container disable-click">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                      <div class="enable-click">
                        <mb-edit ng-model="page.title" bind-options="editorSingleLine"></mb-edit>
                        <hr class="intro-divider">

                        <div mb-list-area="header1"></div>

                        <!-- <ul class="list-inline intro-social-buttons" mb-init-list="page.lists.header1">
                          <li ng-repeat="socialBtn in page.lists.header1.items" style="position: relative;">
                            <mb-choose-link belongs-to="socialBtn" property="link">
                              <a class="btn btn-default" mb-link="link" belongs-to="socialBtn">
                                <mb-choose-icon belongs-to="socialBtn" property="icon"></mb-choose-icon>
                                <span mb-edit ng-model="socialBtn.title" bind-options="editorSingleLine"></span>
                              </a>
                            </mb-choose-link>
                            <mb-list-remove list="page.lists.header1.items" item="socialBtn"></mb-list-remove>
                          </li>
                          <li mb-list-add list="page.lists.header1.items" item="socialBtn" label="button" class="text-center" ng-if="editMode" ng-init="socialBtn = {}" style="position: relative;">
                          </li>
                        </ul> -->
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
  </mb-choose-image>

<div mb-list-area="body1"></div>

<mb-choose-image property="image-5">
  <div class="banner" mb-src="image-5">

      <div class="container">

          <div class="row">
              <div class="col-lg-6">
                  <mb-edit ng-model="page.content.prefooter1" bind-options="editorSingleLine"></mb-edit>
              </div>
              <div class="col-lg-6">
                  <div mb-list-area="footer1"></div>
                  <!-- <ul class="list-inline banner-social-buttons" mb-init-list="page.lists.prefooter1">
                    <li ng-repeat="socialBtn in page.lists.prefooter1.items" style="position: relative;">
                      <mb-choose-link belongs-to="socialBtn" property="link">
                        <a class="btn btn-default" mb-link="link" belongs-to="socialBtn">
                          <mb-choose-icon belongs-to="socialBtn" property="icon"></mb-choose-icon>
                          <mb-edit ng-model="socialBtn.title" bind-options="editorSingleLine"></mb-edit>
                        </a>
                      </mb-choose-link>
                      <mb-list-remove list="page.lists.prefooter1.items" item="socialBtn"></mb-list-remove>
                    </li>
                    <li mb-list-add list="page.lists.prefooter1.items" item="socialBtn" label="button" class="text-center" ng-if="editMode" ng-init="socialBtn = {}" style="position: relative;">
                    </li>
                  </ul> -->
              </div>
          </div>

      </div>
  </mb-choose-image>
</div>

  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <div mb-edit class="copyright text-muted small" ng-model="page.content.footer1" bind-options="editorOptions"></div>
              </div>
          </div>
      </div>
  </footer>
</div>
