.modal-header
  button.close(type='button' ng-click="$dismiss()")
    span(aria-hidden='true') ×
    span.sr-only Close
  h4#editMenuItemLabel.modal-title Choose Link
.modal-body
  form(novalidate name="editLinkForm" ng-submit="saveLink(editLinkForm)")
    input(type="submit").hidden
    .form-group
      label link
      input.form-control(ng-model="link.url" name="url" ng-pattern="validators.isURI" ng-change="updateTarget(link.url)")
      div.help-block.error(ng-show="editLinkForm.url.$invalid && editLinkForm.url.$dirty") {{errorMessages.isURI}}
    .form-group
      label Choose a link from an existing page:
      select(ng-options="page.url as page.url for page in pages" ng-model="link.url").form-control
    button.btn.btn-info(type='button', data-toggle='collapse', data-target='#extra-styles') Extra Options
    #extra-styles.collapse
      .form-group
        label Link classes
        input.form-control(ng-model="link.classes" name="classes" ng-pattern="validators.isCSSClass")
        div.help-block.error(ng-show="editLinkForm.classes.$invalid && editLinkForm.classes.$dirty") {{errorMessages.isCSSClass}}
      .form-group
        label Tool-tip
        input.form-control(ng-model="link.title" name="title" ng-pattern="validators.isTitle")
        div.help-block.error(ng-show="editLinkForm.title.$invalid && editLinkForm.title.$dirty") {{errorMessages.isTitle}}
      .form-group
        label How should the link navigate?
        select(ng-model="link.target").form-control
          option(value="") Navigate within this site
          option(value="_self") Replace the current page
          option(value="_blank") New Page
.modal-footer
  button.btn.btn-success(type="submit" ng-click="saveLink(editLinkForm)" ng-class="{disabled: editLinkForm.$invalid}") Save
  button.btn.btn-default(type='button' ng-click="$dismiss()") Close
