.thing-form
  margin 20px 0

.relative
  position: relative

.mb-animate-list.ng-enter.ng-enter-active
// .mb-animate-list.ng-leave
{
  opacity: 1;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
}

/* Remove animation */
// .mb-animate-list.ng-leave.ng-leave-active,
.mb-animate-list.ng-enter
{
  opacity: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -ms-transform: scale(0.3, 0.3); /* IE 9 */
  -webkit-transform: scale(0.3, 0.3); /* Safari */
  transform: scale(0.3, 0.3);
}

.text-center
  text-align: center

.margin-bottom-1
  margin-bottom: 0.5em;

.loggedIn
  margin-top 50px

.fixed-header-stopper
  -webkit-transform translateZ(0)
  transform translateZ(0)

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  background #4393B9
  color #F5F5F5
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.footer
  border-top 1px solid #E5E5E5
  margin-top 70px
  padding 30px 0
  text-align center

.mb-draggable-ghost
  background-color #2ECC71

.panel-chevron
  padding-left 0.5em

.panel-heading
  a
    cursor pointer

.mb-link
  cursor pointer
.inEditMode .mb-link
  cursor move

.inEditMode .grid-stack-item-content
  text-align: center
  border-radius: 3px
  padding 1.5em
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
