
<div ng-class="{loggedIn: isLoggedIn}" class="meanbase-front">
  <!--meanbase Head Tool Bar -->
  <nav id="mb-headbar" role="navigation" ng-if="isLoggedIn" ng-controller="cms.headbar.controller as headbar" class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
      <button ng-init="cmsHeabarClosed = true" ng-click="cmsHeabarClosed = !cmsHeabarClosed" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a ui-sref="cms" class="navbar-brand">Manage Site</a>
    </div>
    <div id="mb-headbar-child" collapse="cmsHeabarClosed" class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-show="currentUser.permissions.indexOf('editContent') &gt; -1" class="dropdown"><a data-toggle="dropdown" role="button" class="dropdown-toggle">Create Page</a>
          <ul role="menu" class="dropdown-menu">
            <li ng-repeat="template in themeTemplates"><a href="#" ng-click="headbar.createPage($event)" ng-mouseover="headbar.showScreenshot(template)" ng-mouseleave="headbar.hideScreenshot(template)">{{template}}</a></li>
          </ul>
        </li>
        <li ng-show="currentUser.permissions.indexOf('editContent') &gt; -1"><a ng-hide="editMode" ng-click="headbar.toggleEdit()">Edit</a>
          <button ng-show="editMode" ng-click="headbar.saveChanges()" class="btn btn-success">Save</button>
        </li>
        <li ng-show="editMode">
          <button ng-click="headbar.editPageModal()" class="btn btn-info">Settings</button>
        </li>
        <li ng-show="editMode">
          <button ng-click="headbar.discardChanges()" class="btn btn-warning">Discard</button>
        </li>
        <li ng-show="currentUser.permissions.indexOf('deleteContent') &gt; -1 &amp;&amp; editMode">
          <button ng-click="headbar.deletePage()" class="btn btn-danger">Delete page</button>
        </li>
        <li ng-show="currentUser.permissions.indexOf('publishContent') &gt; -1 &amp;&amp; editMode">
          <button ng-click="headbar.togglePublishPage()" class="btn btn-primary"><span ng-hide="page.published">Publish</span><span ng-show="page.published">Unpublish</span></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a data-toggle="dropdown" role="button" class="dropdown-toggle">Hi, {{currentUser.name}} ({{currentUser.role}})</a>
          <ul role="menu" class="dropdown-menu dropdown-menu-right">
            <li><a ng-click="logout()">Log Out</a></li>
            <li><a ui-sref="settings">Account Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <script type="text/ng-template" id="editmodal.modal.html">
    <div class="modal-header">
      <button type="button" ng-click="cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Page Settings</h4>
    </div>
    <div class="modal-body">
      <div validate="{{errorMessages.isTitle}}" class="form-group has-feedback">
        <label>Google Search Title</label>
        <input type="text" ng-model="page.tabTitle" ng-pattern="validators.isTitle" class="form-control"/><span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <div validate="{{errorMessages.URI}}" class="form-group has-feedback">
        <label>URL address</label>
        <div class="input-group"><span class="input-group-addon">/</span>
          <input type="text" ng-model="page.url" ng-pattern="validators.isURI" class="form-control"/><span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group">
        <label>Facebook and Google Page Description</label>
        <textarea rows="5" ng-model="page.description" class="form-control"></textarea>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="h5">Created</p>
          <p>{{page.created}}</p>
        </div>
        <div class="col-sm-6">
          <p class="h5">Updated</p>
          <p>{{page.updated}}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-sm-9">
        <p class="h6 text-left">(The headbar save and discard buttons will store changes)</p>
      </div>
      <div class="col-sm-3">
        <button type="button" ng-click="cancel()" class="btn btn-default">Close</button>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="editmenu.modal.html">
    <div class="modal-header">
      <button type="button" ng-click="$dismiss()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="editMenuItemLabel" class="modal-title">Edit Menu Item</h4>
    </div>
    <div class="modal-body">
      <form novalidate="novalidate" name="editingMenuForm" ng-submit="isNewMenu? newMenuItem(): editMenuItem()">
        <input type="submit" class="hidden"/>
        <div class="form-group">
          <label>Url</label>
          <input ng-model="menuItem.url" name="url" ng-pattern="validators.isURI" required="required" class="form-control"/>
          <div ng-show="editingMenuForm.url.$error.required &amp;&amp; editingMenuForm.url.$dirty" class="help-block required">{{errorMessages.requiredMessage}}</div>
          <div ng-show="editingMenuForm.url.$invalid &amp;&amp; editingMenuForm.url.$dirty" class="help-block error">{{errorMessages.isURI}}</div>
        </div>
        <div class="form-group">
          <label>Get url from existing pages: </label>
          <select ng-options="page.url as page.url for page in pages" ng-model="menuItem.url" class="form-control"></select>
        </div>
        <div class="form-group">
          <label>Title</label>
          <input ng-model="menuItem.title" name="title" ng-pattern="validators.isTitle" required="required" class="form-control"/>
          <div ng-show="editingMenuForm.title.$error.required &amp;&amp; editingMenuForm.title.$dirty" class="help-block required">{{errorMessages.requiredMessage}}</div>
          <div ng-show="editingMenuForm.title.$invalid &amp;&amp; editingMenuForm.title.$dirty" class="help-block error">{{errorMessages.isTitle}}</div>
        </div>
        <div class="form-group">
          <label>CSS Classes</label>
          <input ng-model="menuItem.classes" name="classes" ng-pattern="validators.isCSSClass" class="form-control"/>
          <div ng-show="editingMenuForm.classes.$error.required &amp;&amp; editingMenuForm.classes.$dirty" class="help-block required">{{errorMessages.requiredMessage}}</div>
          <div ng-show="editingMenuForm.classes.$invalid &amp;&amp; editingMenuForm.classes.$dirty" class="help-block error">{{errorMessages.isCSSClass}}</div>
        </div>
        <div class="form-group">
          <label>How should the link navigate?</label>
          <select ng-model="menuItem.target" class="form-control">
            <option value="">Update the current page without a refresh</option>
            <option value="_self">Reload the whole web page</option>
            <option value="_blank">Open link in a new browser tab</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button ng-click="removeMenuItem()" ng-hide="isNewMenu" class="btn btn-danger">Delete</button>
      <button type="submit" ng-click="editMenuItem()" ng-hide="isNewMenu" ng-class="{disabled: editingMenuForm.$invalid}" class="btn btn-success">Save</button>
      <button type="submit" ng-click="newMenuItem()" ng-class="{disabled: editingMenuForm.$invalid}" class="btn btn-primary">Save As New</button>
      <button type="button" ng-click="$dismiss()" class="btn btn-default">Close</button>
    </div>
  </script>
  <script type="text/ng-template" id="extensions.modal.html">
    <div id="extensions-modal" class="extensions-selector">
      <div class="modal-header">
        <button ng-click="$dismiss()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><i class="fa fa-plus fa-lg"> </i> Choose Content</h4>
      </div>
      <div class="modal-body">
        <h1>hello</h1>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="chooseExtensions()" class="btn btn-success">Choose</button>
        <button type="button" ng-click="$dismiss()" class="btn btn-default">Close</button>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="findImage.modal.html">
    <div id="findImage-modal" class="extensiondata-selector">
      <div class="modal-header">
        <button ng-click="$dismiss()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{instructions}}</h4>
      </div>
      <div class="modal-body">
        <image-selector api="imageSelectorApi" image-selector-config="config"></image-selector>
      </div>
      <div class="modal-footer">
        <p class="double-tap-instructions">Double tap to enlarge photos</p>
        <div class="choose-close-buttons">
          <button type="button" ng-click="chooseImages()" class="btn btn-success">Choose</button>
          <button type="button" ng-click="$dismiss()" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="extensions.modal.html">
    <div id="extensions-modal" class="extensions-selector">
      <div class="modal-header">
        <button ng-click="$dismiss()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><i class="fa fa-plus fa-lg"> </i> Choose Content</h4>
      </div>
      <div class="modal-body">
        <tabset justified="true">
          <tab heading="Choose new content">
            <div class="extensions-selector">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input type="text" placeholder="search content" ng-model="searchExtensions.name" class="form-control"/>
                </div>
              </div>
              <div class="extensions-list scrollable-body">
                <div ng-repeat="ext in extensions | filter:searchExtensions" ng-click="toggleChecked(ext, $event)" class="list-item">
                  <h4 class="list-title">{{ext.name}}</h4><i ng-class="{'fa-check': chosenContent.indexOf(ext) &gt; -1, 'fa-square-o': chosenContent.indexOf(ext) == -1}" class="fa pull-right checkbox"></i>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Choose from existing content">
            <div class="extensions-selector">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input type="text" placeholder="search existing content" ng-model="findShared" class="form-control"/>
                </div>
              </div>
              <div class="scrollable-body">
                <div ng-repeat="(key, content) in sharedContent" ng-click="toggleChecked(content, $event)" ng-hide="content.contentName.indexOf(findShared) &amp;&amp; content.type.indexOf(findShared)" class="list-item">
                  <h4 class="list-title">{{content.type}}: {{content.contentName}}</h4><i class="fa pull-right checkbox fa-square-o"></i>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="chooseExtensions()" class="btn btn-success">Choose</button>
        <button type="button" ng-click="$dismiss()" class="btn btn-default">Close</button>
      </div>
    </div>
  </script>
  <div ui-view="" ng-class="{'fixed-header-stopper': isLoggedIn}" mb-animation-trigger="{{editMode}}" mb-animate="mb-animate" mb-de-animate="{{pageAnimation}}" id="main-view">
    <div class="mb-loading-screen text-center">
      <h1><i class="fa fa-spinner fa-spin"></i><span> Loading Template</span></h1>
    </div>
  </div>
</div>