.meanbase-front(ng-class="{loggedIn: isLoggedIn}")
	include ../../components/cms.headbar/cms.headbar.jade
	div(ui-view="").main-view
		div.mb-loading-screen.text-center
			h1
				i.fa.fa-spinner.fa-spin 
				span|  Loading Template