<div class="col-lg-4 col-sm-6 text-center">
	<span single-image="{{extension.data.employeePhoto}}" placehold-it="http://placehold.it/200x200" image-classes="img-circle img-responsive img-center"></span>
  <h3 meanbase-editable ng-bind-html="extension.data.employee">John Smith</h3>
  <p meanbase-editable ng-bind-html="extension.data.description">What does this team member to? Keep it short! This is also a great spot for social links!</p>
</div>
<div ng-if="editMode">
	<div class="form-group">
    <input type="text" ng-model="extension.data.employeePhoto" placeholder="Employee" class="form-control">
  </div>
</div>