<div class="container" ng-controller="homeController">
  <div class="row">
    <div class="col-sm-12">
      <mb-edit ng-model="page.title" bind-options="editorSingleLine"></mb-edit>
    </div>
    <div class="col-sm-12">
      <choose-image property="body1">
        <img mb-src="body1" class="img-responsive"/>
       </choose-image>
     </div>
    <div class="col-sm-12">
      <mb-edit ng-model="page.content.body1" bind-options="editorOptions"></mb-edit>
    </div>
    <div class="col-sm-12">
      <div list-area="body1"></div>
    </div>
  </div>
  <div class="row" ng-init="point={}">
    <div class="col-lg-4 col-sm-4" mb-grid-item>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <div class="col-lg-4 col-sm-4" mb-grid-item>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <div class="col-lg-4 col-sm-4" mb-grid-item>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
</div>
