.modal-header
  button.close(type='button' ng-click="cancel()")
    span(aria-hidden='true') ×
    span.sr-only Close
  h4.modal-title Choose your page link name
.modal-body
  .form-group
    label Link Title
    .input-group
      span.input-group-addon /
      input.form-control(type='text' ng-model="url" autofocus ng-enter="choose(url)")
      span.glyphicon.glyphicon-ok.form-control-feedback
.modal-footer
  button.btn.btn-default(type='button' ng-click="cancel()") Close
  button.btn.btn-success(type='button' ng-click="choose(url)") Choose
