#mb-meanbase-front.meanbase-front(:class='{loggedIn: isLoggedIn}')
  cms-headbar(:page="page", :edit-mode="editMode")
  #main-view(:class="{'fixed-header-stopper': isLoggedIn}")
    router-view
      .mb-loading-screen.text-center
        h1
          i.fa.fa-spinner.fa-spin  
          span  Loading Template
