#mb-meanbase-front.meanbase-front(:class='{loggedIn: currentUser}')
  cms-headbar(:page="page", :edit-mode="editMode", :menus="menus")
  #main-view(:class="{'fixed-header-stopper': currentUser}")
    router-view
      .mb-loading-screen.text-center
        h1
          i.fa.fa-spinner.fa-spin  
          span  Loading Template
