.mb-edit-menu-btn
  // position: absolute
  display inline-block
  padding-top: 2px
  padding-left: 5px
  width: 22px
  height: 22px
  border-radius: 10em
  background-color: #95A5A6
  color: #ECF0F1
  cursor: pointer
  position absolute
  top 0
  right 0
  i
    color #ECF0F1
