div.image-selector
	.headbar
		div(ng-show="!fullscreen")
			.album-left.pull-left
				select(ng-options="group for group in groups" ng-model="selectedGroup").form-control
			.right-leftover
				.form-group
					.input-group
						.input-group-addon 
							i.fa.fa-search
						input.form-control(placeholder="Search Media" ng-model="mediaFilter")
				//- <div class="btn-group" dropdown="">
				//-       <button type="button" class="btn btn-danger">Action</button>
				//-       <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
				//-         <span class="caret"></span>
				//-         <span class="sr-only">Split button!</span>
				//-       </button>
				//-       <ul class="dropdown-menu" role="menu">
				//-         <li><a href="#">Action</a></li>
				//-         <li><a href="#">Another action</a></li>
				//-         <li><a href="#">Something else here</a></li>
				//-         <li class="divider"></li>
				//-         <li><a href="#">Separated link</a></li>
				//-       </ul>
				//-     </div>
				//- select.form-control(ng-model="groups" ng-options="group for group in groups")
			//- .col-xs-12.text-left
			//- 	.form-group
			//- 		input#select-all.checkbox(type="checkbox" ng-model="selectAll")
			//- 		label(for="select-all")| Select All Visible
				//- i.fa.fa-expand.fa-lg.pull-right
		.row(ng-show="fullscreen")
			.col-sm-12
				.btn-spacing.pull-left
					button.btn.btn-primary.fa.fa-crop(ng-click="cropMode=true" ng-hide="cropMode")  Crop
					button.btn.btn-danger.fa.fa-trash(ng-click="deleteOne(fullscreenImage)")  Delete
				i.exit-fullscreen.fa.fa-times(ng-click="exitFullscreen()").pull-right
					

	.row
		.col-sm-12.body(ng-show="!fullscreen")
			.image-grid-4(ng-repeat="item in ($parent.filteredMedia = (media | filter:filterMedia))")
				div.image-thumbnail
					img(ng-src="{{item.modifiedurl}}" ng-click="expand($event, item, $index)" ng-swipe-right="prev()" ng-swipe-left="next()")
					//- i.fa.fa-expand(ng-click="select($event, item)")
		.col-sm-12(ng-show="fullscreen")
			i.previous-image.fa.fa-chevron-left(ng-click="prev()")
			//- div(ng-if="cropMode" class="image-cropper")
			//- 	img(ng-if="cropMode" ng-src="{{fullscreenImage.modifiedurl}}" ng-cropper ng-show="{{showEvent}}" ng-hide="{{hideEvent}}" ng-options="options")
			img(ng-src="{{fullscreenImage.modifiedurl}}" ng-swipe-right="prev()" ng-swipe-left="next()").fullscreen-image
			i.fa.fa-chevron-right.next-image(ng-click="next()")
	.image-details(ng-show="fullscreen")
		.row
			.col-sm-12
				.form-group
					.input-group
						.input-group-addon Caption
						input.form-control(placeholder="Alt or Caption" ng-model="fullscreenImage.alt")
		.row
			.col-sm-4
				.form-group
					.input-group
						.input-group-addon(title="Attribute information of the image owner") Owner
						input.form-control(placeholder="Attribute" ng-model="fullscreenImage.attribute")
			.col-sm-8.text-left
				.form-group
					label.set-albums Albums
					taglist(ng-model="fullscreenImage.groups")
