div.image-selector
	.headbar
		p.double-tap-instructions Double tap to enlarge photos
		div(ng-show="!fullscreen")
			.mass-edit-buttons(ng-show="config.allOperations")
				button.btn.delete-visible(ng-click="deleteAllVisible()" ng-show="media.length > 0") Delete All Visible
				button.btn.delete-selected(ng-click="deleteSelected()" ng-show="media.length > 0") Delete Selected
				button.btn.group-selected(ng-click="groupSelected()" ng-show="media.length > 0") Group Selected
			.select-all.pull-left(ng-click="selectAllVisible()")
				i.fa(ng-class="{'fa-circle-o': !allSelected, 'fa-check': allSelected}")
			.album-left.pull-left
				select(ng-options="group for group in groups" ng-model="selectedGroup").form-control
			.right-leftover
				.form-group
					.input-group
						.input-group-addon 
							i.fa.fa-search
						input.form-control(placeholder="Search Media" ng-model="mediaFilter")
		.row(ng-show="fullscreen")
			.col-sm-12
				.btn-spacing.pull-left
					button.btn.btn-primary.fa.fa-crop(ng-click="cropMode=true" ng-hide="cropMode")  Crop
					button.btn.btn-danger.fa.fa-trash(ng-click="deleteOne(fullscreenImage)")  Delete
				i.exit-fullscreen.fa.fa-times(ng-click="exitFullscreen()").pull-right
					
	.body
		.row
			.col-sm-12(ng-show="!fullscreen")
				.help-block(ng-show="media.length === 0") There are no images to show
				.image-grid-4(ng-repeat="item in (filteredMedia = (media | filter:filterMedia| filter:filterByAlbum))" ng-click="selectImage($event, item)")
					div.image-thumbnail(double-click="expand($event, item, $index)")
						i.fa.fa-circle-o.select-button(ng-class="{selected: selectedImages.indexOf(item) !== -1}")
						img(ng-src="{{item.thumbnail}}" ng-swipe-right="prev()" ng-swipe-left="next()")
			.col-sm-12(ng-show="fullscreen" ng-swipe-right="prev()" ng-swipe-left="next()" ng-click="selectImage($event, fullscreenImage)")
				.fullscreen-master-container(double-click="expand($event, item, $index)")
					i.fa.fa-circle-o.select-button(ng-class="{selected: selectedImages.indexOf(fullscreenImage) !== -1}")
					i.previous-image-button.fa.fa-chevron-left(ng-click="prev(); $event.stopPropagation();")
					i.fa.fa-chevron-right.next-image-button(ng-click="next(); $event.stopPropagation();")
					.fullsize-box.main
						img(ng-src="{{firstImageUrl}}").fullscreen-image
	.image-details(ng-show="fullscreen")
		.row
			.col-sm-12
				.form-group(validate="{{errorMessages.isTitle}}").has-feedback
					.input-group
						.input-group-addon Caption
						input.form-control(placeholder="Alt or Caption" ng-model="fullscreenImage.alt" ng-pattern="validators.isTitle")
						span.glyphicon.glyphicon-ok.form-control-feedback
		.row
			.col-sm-4
				.form-group(validate="{{errorMessages.isTitle}}").has-feedback
					.input-group
						.input-group-addon(title="Credit the author") Citation
						input.form-control(placeholder="Credit to author" ng-model="fullscreenImage.attribute" ng-pattern="validators.isTitle")
						span.glyphicon.glyphicon-ok.form-control-feedback
			.col-sm-8.text-left
				label.set-albums Albums
				taglist(ng-model="fullscreenImage.groups")
			.col-sm-12
					label.set-albums Galleries
					taglist(ng-model="fullscreenImage.galleries")
