div.image-selector
	.headbar
		div(ng-show="!fullscreen")
			.album-left.pull-left
				select(ng-options="group for group in groups" ng-model="selectedGroup").form-control
			.right-leftover
				.form-group
					.input-group
						.input-group-addon 
							i.fa.fa-search
						input.form-control(placeholder="Search Media" ng-model="mediaFilter")
		.row(ng-show="fullscreen")
			.col-sm-12
				.btn-spacing.pull-left
					button.btn.btn-primary.fa.fa-crop(ng-click="cropMode=true" ng-hide="cropMode")  Crop
					button.btn.btn-danger.fa.fa-trash(ng-click="deleteOne(fullscreenImage)")  Delete
				i.exit-fullscreen.fa.fa-times(ng-click="exitFullscreen()").pull-right
					
	.body
		.row
			.col-sm-12(ng-show="!fullscreen")
				.image-grid-4(ng-repeat="item in ($parent.filteredMedia = (media | filter:filterMedia| filter:filterByAlbum))")
					div.image-thumbnail
						i.fa.fa-frown-o.select-button(ng-click="selectImage($event, item)" ng-class="{selected: selectedImages.indexOf(item) !== -1}")
						img(ng-src="{{item.thumbnail}}" ng-click="expand($event, item, $index)" ng-swipe-right="prev()" ng-swipe-left="next()")
						//- i.fa.fa-expand(ng-click="select($event, item)")
			.col-sm-12(ng-show="fullscreen" ng-swipe-right="prev()" ng-swipe-left="next()")
				.fullscreen-master-container
					i.fa.fa-frown-o.select-button(ng-click="selectImage($event, fullscreenImage)" ng-class="{selected: selectedImages.indexOf(fullscreenImage) !== -1}")
					i.previous-image-button.fa.fa-chevron-left(ng-click="prev()")
					i.fa.fa-chevron-right.next-image-button(ng-click="next()")
					.fullsize-box.main
						img(ng-src="{{firstImageUrl}}").fullscreen-image
	.image-details(ng-show="fullscreen")
		.row
			.col-sm-12
				.form-group
					.input-group
						.input-group-addon Caption
						input.form-control(placeholder="Alt or Caption" ng-model="fullscreenImage.alt")
		.row
			.col-sm-4
				.form-group
					.input-group
						.input-group-addon(title="Attribute information of the image owner") Owner
						input.form-control(placeholder="Attribute information of the image owner" ng-model="fullscreenImage.attribute")
			.col-sm-8.text-left
				label.set-albums Albums
				taglist(ng-model="fullscreenImage.groups")
			.col-sm-12
					label.set-albums Galleries
					taglist(ng-model="fullscreenImage.galleries")
