<div class="list-wrapper">
  <div class="container" ng-init="member = {}">
    <div class="row">
      <div class="col-lg-4 col-sm-4 relative" ng-repeat="member in listItem.data.items">
        <div class="text-center">
          <choose-image property="image" belongs-to="member">
            <img mb-src="image" belongs-to="member" class="img-responsive"/>
          </choose-image>
          <div mb-edit ng-model="member.name" bind-options="editorSingleLine"></div>
          <mb-list-remove list="listItem.data.items" item="member"></mb-list-remove>
        </div>
      </div>
      <mb-list-add class="col-lg-4 col-sm-4 text-center" item="member" list="listItem.data.items" label="team member"></mb-list-add>
    </div>
  </div>
</div>
