.meanbase-front.loggedIn
	margin-top 50px
	
.template-screenshot
	position absolute
	max-width 90%
	max-height 80%
	top 50%
	transform translate(-50%, -50%)
	left 50%
	z-index 11

.template-screenshot-backdrop
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	width 100%
	background-color white
	z-index 10

.meanbase-front
	#mb-headbar
		a
			cursor pointer
		.btn
			margin 5px
			padding 8px 13px
			outline none
	.mb-loading-screen
		padding-top 1em
		color #2C3E50
		
	[contenteditable="true"]
		outline none
		// &:hover
		// &:focus
		// 	outline 2px solid #2ECC71
		// 	outline-offset 6px