//meanbase Head Tool Bar 
nav#mb-headbar.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation" ng-show="isLoggedIn" ng-controller="cms.headbar.controller as headbar")
	.container
		div.navbar-header 
			button.navbar-toggle.collapsed(ng-init="cmsHeabarClosed = true" ng-click="cmsHeabarClosed = !cmsHeabarClosed")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(ui-sref='cms').navbar-brand Manage Site
		div#mb-headbar-child.navbar-collapse(collapse="cmsHeabarClosed")
			ul.nav.navbar-nav
				li.dropdown(ng-show="currentUser.permissions.indexOf('editContent') > -1")
					//- a.dropdown-toggle(data-toggle="dropdown" role="button").fa.fa-plus-circle.fa-2x
					a.dropdown-toggle(data-toggle="dropdown" role="button") New Page
					ul.dropdown-menu(role="menu")
						li.disabled
							a(href="#")
								| Template 
						li.divider
						li(ng-repeat="template in themeTemplates")
							a(href="#" ng-click="headbar.createPage($event)") {{template}}
				li(ng-show="currentUser.permissions.indexOf('editContent') > -1")
					a(ng-hide="editMode" ng-click="headbar.toggleEdit()") Edit
					button.btn.btn-success(ng-show="editMode" ng-click="headbar.saveChanges()") Save
				li(ng-show="editMode")
					button.btn.btn-warning(ng-click="headbar.discardChanges()") discard
				li(ng-show="editMode")
					button.btn.btn-primary(ng-click="headbar.editPageModal()") Settings
				li(ng-show="currentUser.permissions.indexOf('deleteContent') > -1 && editMode")
					button.btn.btn-danger(ng-click="headbar.deletePage()") delete page
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown" role="button") Hi, {{currentUser.name}} ({{currentUser.role}})
					ul.dropdown-menu(role="menu").dropdown-menu-right
						li 
							a(ng-click="logout()") Log Out
						li 
							a(ui-sref='settings') Account Settings
script(type="text/ng-template" id="editmodal.modal.html")
	.modal-header
		button.close(type='button' ng-click="cancel()")
			span(aria-hidden='true') ×
			span.sr-only Close
		h4.modal-title Page Settings
	.modal-body
		.form-group
			label Google Search Title
			input.form-control(type='text' ng-model="page.tabTitle")
		.form-group
			label URL address
			.input-group
				span.input-group-addon /
				input.form-control(type='text' ng-model="page.url")
		.form-group
			label Facebook and Google Page Description
			textarea.form-control(rows="5" ng-model="page.description")
		.row
			.col-sm-6
				p.h5 Created
				p {{page.created | date: 'MMM d, y h:mm a'}}
			.col-sm-6
				p.h5 Updated
				p {{page.updated | date: 'MMM d, y h:mm a'}}
	.modal-footer
		.col-sm-9
			p.h6.text-left (The headbar save and discard buttons will store changes)
		.col-sm-3
			button.btn.btn-default(type='button' ng-click="cancel()") Close


script(type="text/ng-template" id="editmenu.modal.html")
	.modal-header
		button.close(type='button' ng-click="cancel()")
			span(aria-hidden='true') ×
			span.sr-only Close
		h4#editMenuItemLabel.modal-title Edit Menu Item
	.modal-body
		.form-group
			label(for="menu-url") Url
			input.form-control(ng-model="menuItem.url")
		.form-group
			label(for="menu-title") Title
			input.form-control(ng-model="menuItem.title")
		.form-group
			label(for="menu-classes") CSS Classes
			input.form-control(ng-model="menuItem.classes")
		.form-group
			label(for="menu-target") Target
			select(ng-model="menuItem.target").form-control
				option(value="") none (good for angular)
				option(value="_self") _self
				option(value="_blank") _blank
	.modal-footer
		button.btn.btn-danger(ng-click="removeMenuItem()") Delete
		button.btn.btn-success(ng-click="editMenuItem()") Save
		button.btn.btn-primary(ng-click="newMenuItem()") Save As New
		button.btn.btn-default(type='button' ng-click="cancel()") Close

script(type="text/ng-template" id="extensions.modal.html")
	#extensions-modal.extensions-selector
		.modal-header
			button.close(ng-click="$dismiss()")
				span(aria-hidden="true") ×
				span.sr-only Close
			h4.modal-title Choose Extension
		.modal-body
			div.extensions-selector
				.form-group
					.input-group
						.input-group-addon 
							i.fa.fa-search
						input.form-control(type="text" placeholder="search extensions" ng-model="extensionsFilter")
				.extensions-list
					div(ng-repeat="ext in extensions | filter:filterExtensions").list-item
						h3.list-title {{ext.name}}
						i.fa.pull-right.checkbox(ng-click="toggleChecked(ext)" ng-class="{'fa-check': chosenExtensions.indexOf(ext) > -1, 'fa-square-o': chosenExtensions.indexOf(ext) == -1}")
		.modal-footer
			button.btn.btn-success(type='button' ng-click="chooseExtensions()") Choose
			button.btn.btn-default(type='button' ng-click="$dismiss()") Close

script(type="text/ng-template" id="extensiondata.modal.html")
	#extensiondata-modal.extensiondata-selector
		.modal-header
			button.close(ng-click="$dismiss()")
				span(aria-hidden="true") ×
				span.sr-only Close
			h4.modal-title Choose Extension Data Source
		.modal-body
			div
				.form-group
					.input-group
						.input-group-addon 
							i.fa.fa-search
						input.form-control(type="text" placeholder="search sources" ng-model="sourceFilter")
				.form-group
					.input-group
						.input-group-addon.add-source(ng-click="newSource()" title="click to create source")
							i.fa.fa-plus
						input.form-control(type="text" placeholder="Create new data to share" ng-model="newSourceName")
				.extensiondata-list
					div(ng-repeat="source in dataSources | filter:filterSource").list-item
						h3.list-title {{source.name}}
						i.fa.pull-right.checkbox(ng-click="toggleChecked(source)" ng-class="{'fa-check': chosenSource == source, 'fa-square-o': chosenSource != source}")
						button.btn.btn-danger.delete-source-btn.pull-right(ng-click="deleteSource(source)") Delete
		.modal-footer
			button.btn.btn-success(type='button' ng-click="chooseSource()") Choose
			button.btn.btn-default(type='button' ng-click="$dismiss()") Close
