.meanbase-front.loggedIn
	margin-top 50px

.meanbase-front
	#mb-headbar
		a
			cursor pointer
		.btn
			margin 5px
			padding 8px 13px
			outline none
	.mb-loading-screen
		padding-top 1em
		color #2C3E50
		
	[contenteditable="true"]
		outline none
		&:hover
		&:focus
			outline 2px solid #2ECC71
			outline-offset 6px