
<div ng-include="&quot;components/navbar/navbar.html&quot;"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form name="form" ng-submit="register(form)" novalidate="" class="form">
        <div ng-class="{ &quot;has-success&quot;: form.name.$valid &amp;&amp; submitted,        &quot;has-error&quot;: form.name.$invalid &amp;&amp; submitted }" class="form-group">
          <label>Name</label>
          <input type="text" name="name" ng-model="user.name" required="" class="form-control"/>
          <p ng-show="form.name.$error.required &amp;&amp; submitted" class="help-block">A name is required</p>
        </div>
        <div ng-class="{ &quot;has-success&quot;: form.email.$valid &amp;&amp; submitted,        &quot;has-error&quot;: form.email.$invalid &amp;&amp; submitted }" class="form-group">
          <label>Email</label>
          <input type="email" name="email" ng-model="user.email" required="" mongoose-error="" class="form-control"/>
          <p ng-show="form.email.$error.email &amp;&amp; submitted" class="help-block">Doesn't look like a valid email.</p>
          <p ng-show="form.email.$error.required &amp;&amp; submitted" class="help-block">What's your email address?</p>
          <p ng-show="form.email.$error.mongoose" class="help-block">{{ errors.email }}</p>
        </div>
        <div ng-class="{ &quot;has-success&quot;: form.password.$valid &amp;&amp; submitted,        &quot;has-error&quot;: form.password.$invalid &amp;&amp; submitted }" class="form-group">
          <label>Password</label>
          <input type="password" name="password" ng-model="user.password" ng-minlength="3" required="" mongoose-error="" class="form-control"/>
          <p ng-show="(form.password.$error.minlength || form.password.$error.required) &amp;&amp; submitted" class="help-block">Password must be at least 3 characters.</p>
          <p ng-show="form.password.$error.mongoose" class="help-block">{{ errors.password }}</p>
        </div>
        <div>
          <button type="submit" class="btn btn-inverse btn-lg btn-login">Sign up</button> <a href="/login" class="btn btn-default btn-lg btn-register">Login</a>
        </div>
        <hr/>
        <div><a href="" ng-click="loginOauth(&quot;facebook&quot;)" class="btn btn-facebook"><i class="fa fa-facebook"></i> Connect with Facebook</a> <a href="" ng-click="loginOauth(&quot;google&quot;)" class="btn btn-google-plus"><i class="fa fa-google-plus"></i> Connect with Google+</a> <a href="" ng-click="loginOauth(&quot;twitter&quot;)" class="btn btn-twitter"><i class="fa fa-twitter"></i> Connect with Twitter</a>
        </div>
      </form>
    </div>
  </div>
  <hr/>
</div>