p Upload reusable components to add to extensible areas of your site
div.drop-zone(nv-file-drop="uploader" uploader="uploader").text-center.form-inline
	p Drop extension #[strong zip, gz, bz2,] or #[strong tar] file here to upload or
	.form-group.text-center
		input.form-control(type='file' nv-file-select multiple uploader="uploader")
	.progress
			.progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")
.row
	.col-md-4.col-sm-6(ng-repeat="extension in extensions").meanbase-extension-block
		h4 {{extension.name}} 
		img(ng-src="{{extension.screenshot}}" ng-click="openModal(extension)").img-responsive.img-thumbnail
		button.btn.btn-danger.delete-extension-button(ng-click="deleteExtension(extension)") Delete
		button.btn.btn-success.enable-extension-button(ng-click="toggleEnabled(extension)" ng-show="!extension.active") Enable Use
		button.btn.btn-warning.enable-extension-button(ng-click="toggleEnabled(extension)" ng-show="extension.active") Disable Use
