p Upload reusable components to add to extensible areas of your site
div.drop-zone(nv-file-drop="uploader" uploader="uploader").text-center.form-inline
	p Drop extension #[strong zip, gz, bz2,] or #[strong tar] file here to upload or
	.form-group.text-center
		input.form-control(type='file' nv-file-select multiple uploader="uploader")
	.progress
			.progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")
