.container(ng-controller="PageCtrl as page")
		include ../../components/site-menu
		.row
			#leftCol.col-md-3
				.well
					//- ul(role="menu" data-menu="sidebar")
					//- 	li(ng-repeat="menu in menus.sidebar").mb-draggable
					//- 		a(href="{{menu.url}}") {{menu.title}}
					ul#sidebar.nav.nav-stacked(data-menu="sidebar" ng-sortable="mb.sortableMenus")
						li(ng-repeat="menu in menus.sidebar track by menu.id" mb-menu="menu" ng-class="active(menu.url, 'active')")
							a(href="{{menu.url}}" target="{{menu.target}}") {{menu.title}}
			.col-md-9
				h2#page-title(edit="editMode" ng-bind-html="page.title")
				//- h2#page-title {{page.title}}
				p#content-1(edit="editMode" ng-bind-html="page.content['content-1']")
		.row
			.col-md-12#content-2(edit="editMode" ng-bind-html="page.content['content-2']")
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading
						h3#content-3(edit="editMode" ng-bind-html="page.content['content-3']")
					.panel-body
						#content-4(edit="editMode" ng-bind-html="page.content['content-4']")
			.col-md-6
				.panel.panel-default
					.panel-heading
						h3#content-5(edit="editMode" ng-bind-html="page.content['content-5']")
					.panel-body
						#content-6(edit="editMode" ng-bind-html="page.content['content-6']")
		.row
			.col-md-12
				hr
				div#content-7(edit="editMode" ng-bind-html="page.content['content-7']")
		.row
			.col-md-4
				img.img-responsive(src='http://placehold.it/300x300')
			.col-md-4
				img.img-responsive(src='http://placehold.it/300x300')
			.col-md-4
				img.img-responsive(src='http://placehold.it/300x300')
		div#content-8(edit="editMode" ng-bind-html="page.content['content-8']")
		hr



