.mdl-grid
  .mdl-cell.mdl-cell--12-col
    h3 Wordpress import
    p Import data from wordpress using an xml file
    div.drop-zone(nv-file-drop="uploader" uploader="uploader").text-center.form-inline
      p Drop #[strong xml] file here to upload or
      .form-group.text-center
        input#file.form-control(type='file' nv-file-select multiple uploader="uploader" style="display: none")
        label.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.file-upload-btn(for="file")
          i.material-icons add
      .progress
          .progress-bar(role="progressbar" ng-style="{ 'width': uploader.progress + '%' }")
  .mdl-cell.mdl-cell--12-col
    h3 Meanbase import
    p Import data downloaded from another meanbase site
    .alert.alert-danger
      strong WARNING
      div This will erase all data on your site and log you out (if you choose to replace users) and replace it with the data and users from the .zip file
    .checkbox
      label.mdl-checkbox.mdl-js-checkbox(for='includeUsers')
        input#includeUsers.mdl-checkbox__input(type='checkbox', ng-model="includeUsersAndRoles")
        span.mdl-checkbox__label Replace users and roles too?
    div.drop-zone(nv-file-drop="uploader2" uploader="uploader2").text-center.form-inline
      p Drop #[strong zip] file here to upload or
      .form-group.text-center
        input#file2.form-control(type='file' nv-file-select multiple uploader="uploader2" style="display: none")
        label.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.file-upload-btn(for="file2")
          i.material-icons add
      .progress
          .progress-bar(role="progressbar" ng-style="{ 'width': uploader2.progress + '%' }")
  .mdl-cell.mdl-cell--12-col(ng-show="$root.currentUser.permissions.indexOf('importExportData') > -1 || $root.currentUser.permissions.indexOf('allPrivilages')")
    h3 Download meanbase data
    p If you wish to transfer data to another meanbase site or make a manual backup of your site you can download your data here.
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(ng-click="downloadSiteData()") Download
