.mb-drag-to-room
  margin 0 0.5em 0.75em
  padding 1.5em 1em 0.5em
  background-color CLOUDS
  border 2px dashed SILVER

.mb-drag-handle
  position: absolute
  top: -20px
  right: 32px
  padding-top: 5px
  padding-left: 10px
  width: 35px
  height: 30px
  border-radius: 3px
  background-color: #95A5A6
  color: #ECF0F1
  cursor move
  i
    cursor move
