.well
  .input-group
    input#email.btn.btn-lg(type='email', placeholder='Your Email', required='true' ng-model="subscribeEmail")
    button.btn.btn-info.btn-lg(ng-click="subscribeEmail? $root.subscribe(subscribeEmail): null") Subscribe
  //- button.btn.btn-info.btn-lg(ng-click="subscribeEmail? $root.unsubscribe(subscribeEmail): null") Subscribe
