h3 Roles and Privilages
.panel-dark#users
	.panel-head
		.row
			.col-sm-6.col-xs-3
				select.panel-select(ng-options="role as role.role for role in roles track by role.role" ng-model="selectedRole")
			.col-sm-6.col-xs-9.text-right
				button.btn.btn-danger(ng-click="deleteRole()" ng-disabled="selectedRole.role === 'basic' || selectedRole.role === 'admin'") Delete
				button.btn.btn-primary(ng-click="createRole()") New Role
				button.btn.btn-success(ng-click="updateRole()" ng-disabled="selectedRole.role === 'admin'") Save
	.panel-body
		.form-group(ng-repeat="(permissionName, permissionValue) in selectedRole.permissions")
			input.checkbox(id="{{permissionName}}" type="checkbox" ng-model="selectedRole.permissions[permissionName]" ng-checked="permissionValue")
			label(for="{{permissionName}}")| {{permissionName | camelToHuman}}
			
		
		
			
ul.mdl-list
	li.mdl-list__item.mdl-list__item--two-line(ng-repeat="user in users | filter:filterUsers")
		span.mdl-list__item-primary-content
			span
				span {{user.email}}
				span.mdl-list__item-sub-title {{user.role}}
		.mdl-list__item-secondary-content
			mdl-switch(ng-model='user.enabled' ng-click="toggleEnabled(user)")
		.mdl-list__item-secondary-content
			button(id="{{user._id}}").mdl-button.mdl-js-button.mdl-button--icon
				i.material-icons more_vert
			ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='{{user._id}}')
				li.mdl-menu__item.user-settings-button(ng-click="u.toggleModal('isSettingsOpen', 'settings', user)") Settings
				li.mdl-menu__item.confirm-delete-button(ng-click="u.toggleModal('isDeleteOpen', 'userToDelete', user)") Delete User
// Colored FAB button
button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-button--floating-action
	i.material-icons(ng-click="openSettingsModal()") add

dialog.mdl-dialog(dialog-open="isDeleteOpen")
	h4.mdl-dialog__title Delete {{userToDelete.title}}?
	.mdl-dialog__content
		p Are you sure you want to delete {{userToDelete.title}}?
	.mdl-dialog__actions
		button.mdl-button.close(type='button' ng-click="deleteUser(userToDelete)") Yes
		button.mdl-button.close(type='button' ng-click="u.toggleModal('isDeleteOpen', 'userToDelete')") No
		
		
dialog.mdl-dialog(dialog-open="isSettingsOpen")
	h4.mdl-dialog__title User Settings
	.mdl-dialog__content
		form(action='#' mdl)
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.name}")
				input#name.mdl-textfield__input(type='text', value='Everyone' ng-model='settings.name')
				label.mdl-textfield__label(for='name') Name
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.email}")
				input#email.mdl-textfield__input(type='text' ng-model='settings.email' mdl)
				label.mdl-textfield__label(for='email') Email (Ex: "about-me")
			p Allow User:
			select.panel-select(ng-model="settings.role")
				option(ng-repeat="role in roles" ng-selected="role.role == settings.role") {{role.role}}
	.mdl-dialog__actions
		button.mdl-button(type='button', ng-click="saveSettings(settings, settings)") Save
		button.mdl-button.close(type='button' ng-click="u.toggleModal('isSettingsOpen', 'settings')") Dismiss
