.mdl-grid
  .mdl-cell.mdl-cell--12-col
    h4 Roles and Privilages
  .mdl-cell.mdl-cell--12-col
    .mdl-card.mdl-shadow--2dp.roles-panel
      .mdl-card__title
        label.role-name Role Name
        select(ng-options="role as role.role for role in roles track by role.role" ng-model="selectedRole")
      .mdl-card__actions.mdl-card--border
        .mdl-grid
          .mdl-cell.mdl-cell--4-col-phone.mdl-cell--4-col-tablet.mdl-cell--4-col(ng-repeat="(permissionName, permissionValue) in selectedRole.permissions" mdl).role.mdl-cell--3-col-desktop
            input.checkbox(id="{{permissionName}}" type="checkbox" ng-model="selectedRole.permissions[permissionName]" ng-checked="permissionValue")
            label(for="{{permissionName}}")| {{permissionName | camelToHuman}}
      .mdl-card__menu
        button.mdl-button.mdl-js-button.mdl-button--primary(ng-click="updateRole()" ng-disabled="selectedRole.role === 'admin'") Save
        button(id="role-methods").mdl-button.mdl-js-button.mdl-button--icon
          i.material-icons more_vert
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="role-methods")
          li.mdl-menu__item(ng-click="deleteRole()" ng-disabled="selectedRole.role === 'basic' || selectedRole.role === 'admin'") Delete
          li.mdl-menu__item(ng-click="createRole()") Create  
.mdl-grid
  .mdl-cell.mdl-cell--12-col 
    h4 Users
  .mdl-cell.mdl-cell--12-col 
    ul.mdl-list
      li.mdl-list__item.mdl-list__item--two-line(ng-repeat="user in users | filter:filterUsers" mdl)
        span.mdl-list__item-primary-content
          span
            span {{user.email}}
            span.mdl-list__item-sub-title {{user.role}}
        .mdl-list__item-secondary-content
          mdl-switch(ng-model='user.enabled' ng-click="toggleEnabled(user)")
        .mdl-list__item-secondary-content
          button(id="{{user._id}}").mdl-button.mdl-js-button.mdl-button--icon
            i.material-icons more_vert
          ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='{{user._id}}')
            li.mdl-menu__item.user-settings-button(ng-click="u.toggleModal('isSettingsOpen', 'settings', user)") Settings
            li.mdl-menu__item.confirm-delete-button(ng-click="u.toggleModal('isDeleteOpen', 'userToDelete', user)") Delete User
// Colored FAB button
button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.float-right.right-1.bottom-1
  i.material-icons(ng-click="openSettingsModal()") add



dialog.mdl-dialog(dialog-open="isDeleteOpen")
  h4.mdl-dialog__title Delete {{userToDelete.name}}?
  .mdl-dialog__content
    p Are you sure you want to delete {{userToDelete.name}}?
  .mdl-dialog__actions
    button.mdl-button.close(type='button' ng-click="deleteUser(userToDelete)") Yes
    button.mdl-button.close(type='button' ng-click="u.toggleModal('isDeleteOpen', 'userToDelete')") No
    
    
dialog.mdl-dialog(dialog-open="isSettingsOpen")
  h4.mdl-dialog__title User Settings
  .mdl-dialog__content
    form(action='#' mdl)
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.name}")
        input#name.mdl-textfield__input(type='text', value='Everyone' ng-model='settings.name')
        label.mdl-textfield__label(for='name') Name
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.email}")
        input#email.mdl-textfield__input(type='text' ng-model='settings.email' mdl)
        label.mdl-textfield__label(for='email') Email
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-class="{'is-dirty': settings.password}" ng-if="!settings._id")
        input#password.mdl-textfield__input(type='text' ng-model='settings.password' mdl)
        label.mdl-textfield__label(for='password') Password
      p Allow User:
      select.panel-select(ng-model="settings.role")
        option(ng-repeat="role in roles" ng-selected="role.role == settings.role") {{role.role}}
  .mdl-dialog__actions
    button.mdl-button(type='button', ng-click="saveSettings(settings, settings)") Save
    button.mdl-button.close(type='button' ng-click="u.toggleModal('isSettingsOpen', 'settings')") Dismiss
