.meanbase-front(ng-class="{loggedIn: isLoggedIn}")
	include ../cms.headbar/cms.headbar.jade
	div(ui-view="" ng-class="{'fixed-header-stopper': isLoggedIn}")#main-view
		div.mb-loading-screen.text-center
			h1
				i.fa.fa-spinner.fa-spin 
				span|  Loading Template
