.modal-header
  button.close(type='button' ng-click="$dismiss()")
    span(aria-hidden='true') ×
    span.sr-only Close
  h4#editMenuItemLabel.modal-title Sync Addon with Group
.modal-body
  .alert.alert-warning
    div Addons can sync data with other addons of the same type. Just choose a group you want to sync with and your data will stay synchronized within that group.
  form(novalidate name="editIconForm" ng-submit="updateExtensionKey(editIconForm)")
    .checkbox
      label
        input(type="checkbox" name="sync" ng-model="sync") 
        | Sync Addon
    .form-group(ng-show="sync")
      label with group:
      select(ng-options="extension.key as extension.key for extension in extensionKeys" ng-model="syncGroup").form-control
    input(type="submit").hidden
    
    button.btn.btn-info(type='button', data-toggle='collapse', data-target='#extra-styles') Create new group
    #extra-styles.collapse
      .form-group
        label Create a new group
        input.form-control(ng-model="syncGroup")
.modal-footer
  button.btn.btn-success(type="submit" ng-click="updateExtension(syncGroup)" ng-class="{disabled: editIconForm.$invalid || (!hasContent && icon.classes)}") Save
  button.btn.btn-default(type='button' ng-click="$dismiss()") Close
