.mb-edit-menu-btn
  // position: absolute
  display inline-block
  padding-top: 5px
  padding-left: 10px
  width: 30px
  height: 30px
  border-radius: 10em
  background-color: #95A5A6
  color: #ECF0F1
  cursor: pointer
  i
    color #ECF0F1
