.has-error 
	.help-block.error
		display block
		padding 6px
	.help-block.required
		display none

.has-warning 
	.help-block.required
		display block
		padding 6px
	.help-block.error
		display none

.has-success 
	.help-block
		display none
		padding 6px