.remove-from-list-btn {
  position: absolute;
  top: -20px;
  right: -10px;
  padding-top: 2px;
  padding-left: 2px;
  width: 35px;
  height: 30px;
  border-radius: 3px;
  background-color: #E74C3C;
  color: #ECF0F1;
  cursor: pointer;
  z-index: 2;
}
