.extensions-selector
	.nav-tabs
		cursor pointer
	.form-group
		margin-top 1em
	.extensions-list
		max-height 300px
		overflow auto
	.list-item
		position relative
		overflow hidden
		// background-color PETER-RIVER
		padding 0.3em
		margin 0.5em 0
		border-bottom 2px solid CLOUDS
		cursor pointer
	.list-image
		display inline-block
		vertical-align middle
		max-width 200px
	.checkbox
		position absolute
		top 50%
		right 1em
		margin 0
		transform: translateY(-50%);
		display inline-block
		color MIDNIGHT-BLUE
		font-size 1.5em
	.list-title
		display inline-block
		vertical-align middle
		margin 0 0
		color MIDNIGHT-BLUE
		margin 0.3em
	.choose-extensions
		margin 1em 0
