div(ng-repeat="extension in extensionsInArea" ng-sortable="sortableExtensions")
	div(dynamic-html="extension.text" ng-class="{'mb-draggable': editMode}")
	button.btn.btn-danger.remove-extension-button(ng-click='removeThisExtension(extension)' ng-if="editMode") Remove This From Here
div(extensions-selector="{{areaName}}")