.universal-extension-edit-buttons
	margin-bottom 1em
	background-color CLOUDS
	padding 0.5em
	margin-top -15px
	border-radius 4px
	margin-bottom 0.5em
	button
		margin 0.5em 1em 0.5em 0

.mb-drag-to-room
	margin 0 0.5em 0.75em
	padding 1.5em 1em 0.5em
	background-color CLOUDS
	border 2px dashed SILVER
