.add-to-grid-box
  height: 100px
  // border: 8px solid grey
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative
  cursor: pointer

.add-to-grid-box:hover i
  color #2ECC71

.add-to-grid-box:hover
  border: 8px solid #2ECC71

.add-to-grid-box i
  top 50%
  left 50%
  position: absolute
  color grey
  font-size: 2em
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
