.add-to-list-btn {
  position: absolute;
  top: -20px;
  right: -10px;
  padding-top: 5px;
  width: 35px;
  height: 30px;
  border-radius: 3px;
  background-color: #2ECC71;
  color: #ECF0F1;
  cursor: pointer;
}
