.morph-button.morph-button-overlay.morph-button-fixed
	button(type='button') 
		i.fa.fa-image.fa-lg| {{titleDirections}}
	.morph-content
		div
			.content-style-overlay
				button.btn.btn-warning.btn-lg.choose-images-button.icon-close(ng-click="chooseImages()")| {{titleDirections}}
				i.fa.fa-times.fa-2x.escape.pull-right.icon-close(ng-click="close()")
				image-selector(multiple="multiple" api="imageSelectorApi" gallery-slug="gallerySlug" all-operations="allOperations")
				