.meanbase-front.loggedIn
  // margin-top 50px

.autosaving-text
  font-size: 0.8em
  color #95A5A6
.template-screenshot
  position absolute
  max-width 90%
  max-height 80%
  top 50%
  transform translate(-50%, -50%)
  left 50%
  z-index 11

.template-screenshot-backdrop
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  width 100%
  background-color white
  z-index 10

.meanbase-front

  .mb-button
    display block
    padding 0.5em 0.5em
    color white

  #mb-headbar
    font-size 16px
    background-color: #454851
    top 0
    padding 0
    width 100%
    position: fixed
    z-index 11
    font-weight: normal

    .mb-headbar-btn
      display block
      padding 1em
      float left
      padding: 0
      margin: 0.25em
      margin-right 0.3em
      margin-left 0
      border-radius 3px
      cursor pointer

      a
      i
        color white
        font-weight: normal
        text-decoration: none

      &:hover
        background-color: #2980B9
        color #ECF0F1

      .dropdown-link
        display block
        padding 0.5em
        color white

      .drop-down-item-with-check
        position relative
        padding-right: 2em
        .mb-template-check
          position absolute
          top 50%
          -webkit-transform translateY(-50%)
          transform translateY(-50%)
          right 0.5em
          padding 0

          i
            padding 0

      .mb-link-btn
        display block
        padding 0.5em 0.5em
    // .mb-headbar-btn:after
    //   content '.'
    //   display block
    //   clear both
    //   visibility hidden

    .mb-headbar-btn-right
      float right

      .dropdown-list
        left: auto
        right: 0


    .mb-color-yellow
      background-color #f0ad4e
      color white
      a
        color white

    .mb-color-none
      background-color transparent
      color white
      a
        color white

    .mb-color-grey
      background-color #95A5A6
      color #2C3E50
      a
        color #2C3E50

    .mb-color-green
      background-color #5cb85c
      color white
      a
        color white

    .mb-color-red
      background-color #DB504A
      color white
      a
        color white

    .mb-color-light-blue
      background-color #69A2B0
      color white
      a
        color white

    .mb-color-blue
      background-color #454851
      color white
      a
        color white

    .mb-color-purple
      background-color #9893DA
      color white
      a
        color white

    .dropdown
      position: relative
      box-sizing: border-box
      ul
        margin 0

    .dropdown-list
      display block
      visibility: hidden
      min-width: 170px
      position: absolute
      left: 0
      top: 100%
      padding 0.5em 0
      background-color white
      border-radius: 3px
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)

    .dropdown-list li
      list-style: none
      color #2C3E50
      cursor: pointer

      i
      a
        display block
        font-size: 16px
        font-weight: normal
        color #2C3E50
        text-decoration: none
        cursor pointer
        padding 0.3em 1em

      &:hover a
        color white

    .dropdown-list li.divider
      background-color: #dedede
      margin 0 0.5em
      height 2px
      padding 0

    .dropdown-list li:hover
      background-color: #2980B9

    .dropdown-active
      z-index: 11
      visibility: visible

    a
      cursor pointer


[contenteditable="true"]
  outline none

.scrollable-body
  max-height 300px
  overflow auto

.inEditMode #mb-headbar .navbar-nav
  float none
  display inline-block




#mb-headbar
  position relative
  z-index: 11

@media screen and (max-width: 919px)
  .show-mobile
    display inherit !important
  body .show-desktop,
  .meanbase-front .show-desktop
    display none

@media screen and (min-width: 920px)
  .show-mobile
    display none !important
  body .show-desktop,
  .meanbase-front .show-desktop
    display inherit


.mb-drag-trash-can
  position fixed
  bottom 1em
  right 1em
  border-radius: 100em
  background-color: #DB504A
  color white
  z-index: 10
  height 50px
  width 50px
  -webkit-transition all 0.3s
  transition all 0.3s
  div,
  span
  a,
  li
    display none


  i
    color white
    font-size 2em
    position: relative
    top 50%
    left 50%
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)

.in-drag-mode .mb-drag-trash-can
  height 75px
  width 75px

  i
    font-size: 3em

.in-drag-mode
  .mb-draggable,
  .mb-inner-draggable
    cursor move !important
    cursor -webkit-grabbing !important


/* The side navigation menu */
.mb-sidenav
    height: 100% /* 100% Full-height */
    width: 0 /* 0 width - change this with JavaScript */
    position: fixed /* Stay in place */
    z-index: 12 /* Stay on top */
    top: 0
    right: 0
    background-color: #111 /* Black*/
    overflow-x: hidden /* Disable horizontal scroll */
    padding-top: 60px /* Place content 60px from the top */
    transition: 0.5s /* 0.5 second transition effect to slide in the mb-sidenav */
    overflow: hidden

.mb-sidenav.mb-drawer-open
  width 250px

.mb-sidenav .mb-sidenav-child
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;

/* The navigation menu links */
.mb-sidenav a
    padding: 8px 8px 8px 32px
    text-decoration: none
    font-size: 14px
    color: #818181
    display: block
    transition: 0.3s

.mb-sidenav a.mb-page-link:hover
  background-color: #2980B9
  color #ECF0F1

/* Position and style the close button (top right corner) */
.mb-sidenav .mb-closebtn
  display none
  position: fixed
  top: 0
  right: 25px
  font-size: 36px
  margin-left: 50px

.mb-sidenav.mb-drawer-open .mb-closebtn
  display block

.mb-drawer-search
  width 100%
  position relative
  background-color: #111
  color #dedede
  padding 1em
  padding-left 3em
  box-sizing: border-box
  border none
  border-bottom 1px solid white
  overflow-y: scroll

.mb-drawer-search:focus
  outline none

.mb-draw-pages-list
  margin-top: 5em

  label
    padding 8px 8px 8px 20px
    color #999

.mb-search-box
  position fixed
  width 100%
  box-sizing: border-box
  top 0
  i
    position absolute
    top 50%
    left 1em
    -webkit-transform translateY(-50%)
    transform translateY(-50%)
    color #dedede
    z-index 1
